[2015-08-06 21:52] thejameskyle opened #1 "Rename to lodash-modularize"
For the reasons I mentioned in chat

[2015-08-08 21:17] jdalton commented on #1
?

[2015-08-08 22:00] megawac commented on #1
As seen in chat

jmeas: :police_car:
thejameskyle: : It's kinda annoying when people create packages like "babel-plugin-jsx" that do one specific thing with jsx because it's like name squatting
jmeas: makes sense
megawac: take me to :post_office:
jmeas: ROFL
thejameskyle: Like this is how descriptive we like them https://github.com/babel-plugins/babel-plugin-object-create-multiple-to-single-and-de

[2015-10-16 14:36] jdalton opened #6 "Add doc note for lodash-fp"

[2015-10-19 17:53] gajus opened #7 "The plugin "lodash" didn't export a Plugin instance"
I keep getting the following error message when attempting to use "babel-plugin-lodash".

[code]

What are some of the possible reasons for getting this error?

[2015-10-19 18:06] gajus commented on #7
The error originates from "/pragmatist/node_modules/gulp-babel/node_modules/babel-core/lib/transformation/file/plugin-manager.js:164:13":

[code]

`console.log(name, plugin.buildPass, plugin.constructor.name);` prints `lodash undefined LodashWrapper`. The problem is that `plugin.buildPass` is undefined.

What makes `plugin.buildPass` become undefined?

[2015-10-19 18:26] gajus commented on #7
Appears to be some issue related with relative files. I have resolved the issue by giving babel an absolute path to the `babel-plugin-lodash` module:

[code]

[2015-10-20 11:12] megawac commented on #7
Thanks for reporting, I'll look into it tonight. I have a suspension that the issue is related to dynamically determining lodash paths. Did you have lodash installed in the source folders node_modules?

[2015-10-21 20:05] gothy commented on #6
Yep, please! :)
Couldn't get it to work with lodash-fp installed and 'lodash' in babelrc plugins :(
Doing `import _ from 'lodash-fp';`

Gave me `Module not found: Error: Cannot resolve module 'lodash/collection/map' in ...`

[2015-11-01 15:21] gajus opened #8 "Babel 6 support"
https://babeljs.io/blog/2015/10/29/6.0.0/

[2015-11-05 20:27] megawac commented on #8
Do you know any plugins currently supporting babel@6 I can check for reference - haven't seen any updated yet

[2015-11-07 04:55] jdalton commented on #8
\cc @thejameskyle

[2015-11-08 20:47] #8 closed

[2015-11-11 06:47] mduvall opened #10 "Support Lodash methods as function parameters and identifiers"
These will currently not generate import methods:

[code]

or this:

[code]

[2015-11-13 19:21] megawac commented on #10
I'm not sure I'd want to support the second case as it'd end up leading down a slippery slope of things to support. Other things I think I'd rather leave out of scope for this are things like

[code]

etc.

Thanks for adding the first case though, that's definitely useful

[2015-11-13 19:21] #10 closed

[2015-11-20 23:18] megawac commented on #6
@gothy it should work, for example see https://github.com/megawac/babel-plugin-lodash/blob/master/test/fixtures/lodash-fp-mix/actual.js (and other test fixtures)

[2015-11-20 23:18] megawac commented on #6
Oh, that error means you didn't have lodash and lodash-fp installed.

`npm install lodash lodash-fp`

[2015-11-20 23:30] jdalton commented on #6
Why is `lodash` needed? Docs!

[2015-11-23 21:04] #6 closed

[2015-11-25 21:23] gothy commented on #6
Thanks! @megawac

[2015-12-05 17:12] john-kurkowski commented on #7
Getting this too. I never had Lodash anywhere in my project until this plugin.

It wasn't the relative paths issue. That just changes the error to

[code]

[2015-12-05 20:43] john-kurkowski commented on #7
I think my error is because babel-plugin-lodash requires Babel 6 and my project is stuck on 5. I got a little further by pinning to babel-plugin-lodash 0.2.0.

[2015-12-05 21:07] megawac commented on #7
Yeah, the plugin API changed drastically in babel v6. Let me know if you
have further issues using pre-v1 versions with babel 5

On Sat, Dec 5, 2015 at 3:43 PM, John Kurkowski <notifications@github.com>
wrote:

[2015-12-06 19:18] austinmao opened #12 "Suggestion: add docs for babel 5.x users"
It took me a bit to figure out that I had to use v0.2.0 for my babel 5 instance. It would be helpful to add some docs for the old schoolers like me :)

[2015-12-06 22:21] megawac commented on #12
Yeah, good point a couple people have had issues with non compatible Babel versions.

[2015-12-08 01:25] developit commented on #12
If you mean just for Babel itself, they are hosted here:
https://developit.github.io/babel-legacy-docs/

[2015-12-08 02:46] megawac commented on #12
nah, I meant for this plugin

On Mon, Dec 7, 2015 at 8:25 PM, Jason Miller <notifications@github.com>
wrote:

[2015-12-08 03:18] developit commented on #12
Ah, apologies

[2015-12-08 20:05] #12 closed

[2015-12-31 16:17] jdalton opened #13 "Move to the lodash org?"
Hey @megawac!

I think this plugin is super valuable to the lodash community and since you're already a lodash contributor would you dig moving this to the lodash org?

[2015-12-31 16:25] jdalton commented on #13
Btw this would close #1. As it would be the official lodash plugin :)

[2015-12-31 16:37] jdalton opened #14 "es to es"
Would this plugin be able to integrate into the [rollup](https://github.com/rollup/rollup/issues/45#issuecomment-168215190) or [webpack 2](https://github.com/webpack/webpack/issues/1750) dev setup to enable tree-shaking?

[2015-12-31 16:52] megawac commented on #14
How do you mean @jdalton? Both rollup and webpack have Babel plugins which would allow people to use this plugin. (I have not used either to confirm they work.)

https://github.com/rollup/rollup-plugin-babel
https://github.com/babel/babel-loader

[2015-12-31 16:56] megawac opened #15 "Support other lodash builds"
It may be nice to support other lodash builds such as -compat and -es in transpilation. Currently these are simply ignored

[2015-12-31 17:06] jdalton commented on #14
That's what I'm asking. I'm not super familiar with babel plugins. It's on my shortlist of things to dig into esp if this gets pulled into the lodash org. I've only seen the output of this plugin generate node `require` calls but I believe that could be turned into ES6 `import` syntax as well?

[2015-12-31 17:13] megawac commented on #14
Yeah, it will generate es6 imports if the Babel plugin for modules to commonjs isnt included. The only true requirement imposed is that lodash is imported using es6 syntax

https://www.npmjs.com/package/babel-plugin-transform-es2015-modules-commonjs

[2015-12-31 17:18] megawac commented on #14
Anyway, the one thing to note when using Babel with this plugin and either rollup or webpack is that Babel must be run prior to these bundlers. In the case of rollup (and probably webpack?) es2015-modules-commonjs must be disabled

[2015-12-31 19:14] jdalton commented on #14
Cool! Would you be able to work up a documentation example for that? If not I can dig into it.

[2016-01-01 05:37] jdalton commented on #15
The `-compat` build is being dropped for v4.

[2016-01-02 18:18] jdalton opened #16 "Resolve lodash path better."
See https://github.com/gajus/babel-plugin-lodash-modularize/commit/52636687519bf7adc3f115bc9e5eb84c19c687cc#commitcomment-15230797.

Currently the path to lodash is hardcoded as `'./node_modules/lodash'`. Instead it could use `require.resolve` to get the path of lodash. Further tweaking could be done to handle the case Gajus has as well.

[2016-01-03 21:31] jonathanong opened #17 "support question: enabling this only in node modules"
wondering if anyone has tried enabling only this in all the modules, including node_modules. would be a neat way to automatically slim down builds. some issues are i see are:

- `node_modules` are not ES6, which is not supported by this module
- needs a separate babel loader in webpack probably

just something i thought about, which is probably an over optimization

[2016-01-04 15:52] megawac commented on #16
I don't think `require.resolve` would suffice if dependencies have not been deduped. Another potential issue is if the plugin is installed globally it will be completely incorrect

[2016-01-04 16:05] jdalton commented on #16
I'm sure their's a way to do it even if it means creating a temp file which calls `require.resolve` from the cwd and pipes the output back. I'll poke around more this evening.

[2016-01-05 19:57] jdalton commented on #16
Ok so you can do:
[code]

[2016-01-05 19:58] jdalton commented on #16
`require.resolve` it will throw if it's not found

[2016-01-05 20:02] megawac commented on #16
Good stuff, do you have a moment to PR that otherwise I'll look into it tmw

[2016-01-05 21:15] jdalton commented on #16
I want to dig in a bit to ensure this API works across Node versions, or see what versions it works on, and report back.

[2016-01-05 21:17] jdalton commented on #16
Works on at least 0.6 - 5.0 which is awesome!

[2016-01-05 21:32] jdalton commented on #16
Btw support for that API was added https://github.com/nodejs/node/commit/5a49f96505e48d2a1aa3a21233976f41fe1257ce#diff-d1234a869b3d648ebfcdce5a76747d71R181.

[2016-01-05 21:39] jdalton commented on #16
I knew there was a way :)

[2016-01-05 21:39] jdalton commented on #16
I'll work on a PR tonight.

[2016-01-06 17:23] #16 closed

[2016-01-06 17:23] megawac commented on #13
I'm open to this but would like to defer the migration for a bit

[2016-01-06 17:41] jdalton commented on #13
It'd be rad if it could be before v4 so devs have an official option to handle tree-shaking. It'd also be rad if there was a small example of how to integrate into webpack/rollup bundles.

[2016-01-06 17:42] jdalton commented on #1
Thanks for bringing this up! Lodash is set to adopt this as the official lodash babel plugin.

[2016-01-06 17:42] #1 closed

[2016-01-06 17:46] jdalton commented on #17
Hi @jonathanong!

I haven't tried this and I'd be a little concerned with the potential for breaking things but I dig experiments! If you'd like to experiment and report back that would rock.

[2016-01-06 17:46] #17 closed

[2016-01-06 17:47] jdalton commented on #14
Dup of #15.

[2016-01-06 17:47] #14 closed

[2016-01-06 22:04] thejameskyle commented on #1
That's still not good, the name should describe what it does and it currently does not.

[2016-01-06 22:12] jdalton commented on #1
It get's a little sticky with how plugins [are resolved too](https://github.com/babel/babel/blob/7918b9028bbd5ebc578776adfeee8276429b3dc3/packages/babel-core/src/transformation/file/options/option-manager.js#L130):
[code]
because if `babel-plugin-lodash` is missing it'll try `resolve('lodash', dirname)` but as far as squatting goes if it's under lodash core I'm cool with it. Since webpack and roll

[2016-01-09 10:06] boneskull opened #19 "the incredible expanding bundle"
So this is curious--I am running my code thru Babel (and finally Browserify).

Whenever I'm using Lodash in my code, I use it like:

[code]

Here's `.babelrc`:

[code]

and Browserify command:

[code]

**Resulting size (bytes) of `dist/mocha.js`: `752278`**

Let's add `babel-plugin-lodash` to the mix:

[code]

after re-running the same Browserify command above,

**Resulting size (bytes) of `dist/m

[2016-01-09 10:07] d10 commented on #19
Could you post the update as a gist to give us more information?

[2016-01-09 10:13] boneskull commented on #19
@d10 k.  I'm experimenting with `lodash-modularize` and getting drastically different results as well; I'll post those too.

[2016-01-09 10:18] megawac commented on #19
Mind uploading a bundle with and without the plugin enabled?

[2016-01-09 10:20] boneskull commented on #19
OK, here are four builds:

- [no plugins, no nothing](https://gist.github.com/boneskull/569053814cc4c5f97c25)
- [using babel-plugin-lodash](https://gist.github.com/boneskull/b453ae8d2bb785631761)
- [using lodash-modularize](https://gist.github.com/boneskull/2c477b19f412576fe6ed)
- [using lodash-modularize w/ `--compile` flag](https://gist.github.com/boneskull/3d3eb01e26ccf8b9b84f)

That's `752278`

[2016-01-09 10:25] boneskull commented on #19
with the last two, I generated a replacement build in `./browser/lodash.js` and put it in my `browser` prop of `package.json`:

[code]

[2016-01-09 10:26] boneskull commented on #19
fwiw, I'm not using a lot:

[code]

[2016-01-09 10:31] megawac commented on #19
@boneskull it looks like the issue here may be that an npm dependencies is importing lodash and causing the entire lodash bundle to be included once + the custom files imported by this plugin (related #17)

[2016-01-09 10:32] boneskull commented on #19
hmm, ok.  I'll regenerate using lodash-modularize against my deps too.

[2016-01-09 10:37] boneskull commented on #19
(re the last msg, actually, no, that doesn't seem to make a difference anyway)

[2016-01-09 10:39] megawac commented on #17
I'm not sure if this is possible but [for the `babel` require hook you can pass ignore with a regex|bool to allow it to include node modules ](https://babeljs.io/docs/usage/require/#usage)

[code]

It may be possible to do this in a more general fashion (e.g. through the cli/js API/browserify)?

/cc @thejameskyle

[2016-01-09 10:40] megawac commented on #19
Anyway, the difference between the first two files (with and without this plugin) is the version with the plugin includes all of lodash in addition to the implementations of the methods you use and the other one only includes all of lodash

[2016-01-09 10:42] boneskull commented on #19
thanks.  with that tip I found the problem (which was a place in my code I was still using `require('lodash')`.  sorry for the goose chase!

[2016-01-09 10:43] boneskull commented on #19
anyway.  if this plugin encounters a `require('lodash')`, should it throw an exception?

[2016-01-09 10:43] #19 closed

[2016-01-09 19:22] jdalton opened #20 "Add test for dynamic lodash path resolution."
See https://github.com/megawac/babel-plugin-lodash/pull/18#issuecomment-169399786.

[2016-01-09 19:24] jdalton opened #21 "Update fp support for lodash v4."
Lodash v4 will pull fp into the primary `lodash` package.

The paths will be
[code]

[2016-01-09 20:12] megawac commented on #21
Yep, will release in a new major version

[2016-01-09 20:27] jdalton commented on #13
Done :D

[2016-01-09 20:27] #13 closed

[2016-01-12 07:42] jdalton opened #22 "lodash v4 has removed category directories"
For example `require('lodash/collection/partition')` is now `require('lodash/partition')`

[2016-01-13 09:32] gajus commented on #22
Implemented in [`babel-plugin-lodash-modularize`](https://github.com/gajus/babel-plugin-lodash-modularize/issues/3)@0.3.0.

[2016-01-13 13:09] butsjoh opened #23 "Not clear if this works with lodash v4 at all"
I installed the plugin and configured it in webpack but it is install lodash 3.10.1 as a dependency. If i then manually install lodash (npm install lodash --save). And then according to your plugin use something like:

[code]

i get this:

Module build failed: Error:
/Users/butsjoh/Younited/trusted_platform/app/assets/webpack/javascripts/components/notifications.connected.jsx: lodash method isEmpt

[2016-01-13 13:33] butsjoh commented on #23
Also you are claiming in the README that it is possible to include seperate functions (https://github.com/lodash/babel-plugin-lodash/blob/master/test/fixtures/multi-specifier/actual.js). I can't get this to work, could you please explain on how to setup it up properly with webpack?

what i did:

[code]

then in my webpack config:
[code]

Then in a jsx file:

[code]

Raise error: Module build faile

[2016-01-13 16:19] corbanbrook commented on #23
Was getting the same issue until I realized I needed to use lodash-es instead of lodash.

[2016-01-13 18:13] megawac commented on #23
This plugin hasn't been updated for lodash v4 yet.

[2016-01-13 18:13] megawac commented on #23
Closing as this is a dupe of #22

[2016-01-13 18:13] #23 closed

[2016-01-13 23:06] Calvein opened #25 "Example ?"
I've tried to add it to a current project but it failed with this kind of error:

    Please file a bug if it's my fault https://github.com/megawac/babel-plugin-lodash/issues

So I made [a very tiny example] and I have the same problem, where `babel index.js > babel.js` is fine but `babel --plugins lodash index.js > babel-lodash.js` triggers the same error (even if added in `.babelrc`)

Here's [my

[2016-01-13 23:37] megawac commented on #25
Hey, this plugin hasbt been updated for lodash v4 yet. Ill be updating it tonight

[2016-01-13 23:38] megawac commented on #25
See #22

[2016-01-13 23:38] #25 closed

[2016-01-13 23:43] Calvein commented on #25
No worries, lodash 4 changelog got me too excited.

[2016-01-14 05:29] megawac commented on #22
@jdalton should paths be resolved as `import <method> from 'lodash/<method>'`. This would make things much easier (i.e. no sync fs IO stuff)

[2016-01-14 05:36] jdalton commented on #22
Yes, except for the `internal` folder.

[2016-01-14 05:48] megawac commented on #22
true that

[2016-01-14 07:34] #21 closed

[2016-01-14 07:35] megawac commented on #22
we'll reevaluate our module detection strategy going forward

[2016-01-14 07:35] #22 closed

[2016-01-14 07:40] jdalton commented on #22
We could `glob` it up.

[2016-01-14 14:08] megawac commented on #25
Fixed in [v2.0.1](https://github.com/lodash/babel-plugin-lodash/tree/v2.0.1)

[2016-01-14 14:09] megawac commented on #23
Fixed in [v2.0.1](https://github.com/lodash/babel-plugin-lodash/tree/v2.0.1)

[2016-01-15 01:05] nicolam1 opened #26 "_.join missing in known modules"
Hey,
I got this error when using _.join:

Error: ../entities-utils.js: lodash method join was not in known modules
Please file a bug if it's my fault https://github.com/megawac/babel-plugin-lodash/issues

Letting you know.

[2016-01-15 04:30] seansfkelley opened #27 "reading the `_` value, rather than a function on it, becomes invalid after transform"
I discovered this when I wrote some test code that slaps `_` onto `window` so I can play around with it during development. I don't know if there's a real use case for it, but I figured I'd bring it to your attention anyway. Check out https://github.com/seansfkelley/babel-plugin-lodash-bug for a failing example of what I mean.

[2016-01-15 19:25] #26 closed

[2016-01-15 21:40] jdalton commented on #26
@nicolam1 Make sure you're using Lodash v4. The `_.join` method was exposed in v4.

[2016-01-15 23:03] nicolam1 commented on #26
Thank you

[2016-01-16 22:51] megawac commented on #27
That's a case outside of the scope of this function. You can use https://github.com/megawac/lodash-modularize (which still needs to be updated to support v4) if you wish. Otherwise you can do something like

[code]

If anything the plugin could throw errors for this case

[2016-01-16 22:51] #27 closed

[2016-01-22 02:18] a-s-o opened #28 "ReferenceErrors due to bad transpilation"
Hello,

Thanks for the plugin, it is very convenient. I would just like to report an error I am running into:

I have the following code:
[code]

and it is transpiling into this:
[code]

Specifically, `noop` and `identity` are missing which leads to `ReferenceError: noop is not defined`. I cannot figure out why they might be getting excluded. I am running the latest version of the plugin.
[code]

[2016-01-22 02:32] a-s-o commented on #28
I will also add that just doing `import _ from 'lodash';` works just fine and is the workaround I am using for now as those modules are being required separately as they should with this plugin.

The issue is only when explicitly declaring imported functions.

[2016-01-24 00:07] jdalton commented on #28
I noticed you had a rogue trailing comma in your imports after `identity`.
If you remove that does it work?

[2016-01-24 01:20] a-s-o commented on #28
Hi, thanks for looking into this. Unfortunately it is the same behaviour even without the trailing comma; stops at `noop` again. I also tried putting everything on one line:

[code]
Here is my babel config:
[code]
The output stops at `isFunction` in all scenarios.

[2016-01-24 01:29] a-s-o commented on #28
Just to try some more variations, I also tried the following where, I am using all other functions from `_` variable but ask for noop and identity to be destructured:
[code]
I get the same result as before; the plugin works by replace all _ references, for instance `_.isFunction` references with separate requires but again skips `noop` and `identity` which transpile to nothing. Very weird.

[2016-01-24 02:05] jdalton commented on #28
Can you repro @megawac?

[2016-01-24 12:15] megawac commented on #28
I cannot reproduce, make sure you're using the methods in your code?

[2016-01-24 14:09] a-s-o commented on #28
Okay, thanks for trying. I am happy with the workaround for now and in almost all other cases the destructuring works fine. Just seems to be a freak issue (babel issue or my setup perhaps). If I run into it again, I will try to isolate and make a reproducible demo.

Thanks again for taking the time and looking. Closing for now.

[2016-01-24 19:50] megawac commented on #28
How are you using the functions @a-s-o? it may have something to do with how they're being used.

For instance (the plugin supports this) you may be doing

[code]

[2016-01-26 00:24] a-s-o commented on #28
I am have a function which accepts an object which may optionally includes with two methods `initialize` and `validate`. If these are not provided I use noop and identity as the defaults. Excerpt:
[code]
So, I am not really using the lodash functions right away but they may get invoked down the line.

[2016-01-26 06:34] megawac commented on #28
Ah, that isn't supported at the moment.

[2016-02-07 17:46] smashercosmo commented on #28
Would it be backported to 0.2 branch?

[2016-02-08 18:19] #28 closed

[2016-02-08 18:19] megawac commented on #28
Going to wait for https://phabricator.babeljs.io/T7078 to resolve before publishing

[2016-02-08 20:11] molily opened #29 "Spread operator"
Thanks for this great project!

I’m running into an issue with this simple code:

[code]

The first normal call to `_.merge` works fine, but the second with the spread isn’t recognized: `Uncaught ReferenceError: _ is not defined`

Looking at the Babel output, this is logical since the spread compiles to a `merge.apply(_, Array)` call.

[code]

That’s technically correct since the original call was

[2016-02-08 23:11] mjrussell opened #30 "Add fromPairs support"
`lodash method fromPairs was not in known modules`

https://lodash.com/docs#fromPairs

[2016-02-10 05:51] jdalton commented on #30
Are you using lodash v4?

[2016-02-10 05:53] jdalton opened #31 "Update fp conversion"
The readme currently has

## Example

Transforms

[code]

roughly to

[code]

but with 4.1.0 individual fp modules exist so they could be used instead.

[2016-02-10 06:14] jdalton commented on #15
An es-to-es mode to transform
[code]
would rock.

[2016-02-10 06:27] jdalton commented on #15
Support for `lodash-es` would rock!

[2016-02-10 23:07] mjrussell commented on #30
Ugh I had a bad lodash node_modules directory, blowing it away and reinstalling v4 fixed the issue

[2016-02-10 23:07] #30 closed

[2016-02-10 23:18] jdalton commented on #30
Thanks for the update!

[2016-02-11 18:20] jdalton opened #32 "Add faq note about es6 to es6 transforms"
See https://github.com/lodash/lodash/issues/1973#issuecomment-182219821.

[2016-02-16 01:37] megawac commented on #31
@jdalton any reason to change it? That seems like it would just increase the number of files imported (though it could possibly solve a babel 6.5 bug for the repo)

[2016-02-16 01:40] jdalton commented on #31
Does "because it looks prettier" count? Because that was my thinking :grinning:

[2016-02-16 01:41] jdalton commented on #31
[code]

[2016-02-16 01:44] jdalton commented on #28
Can the `issues` branch be deleted?

[2016-02-16 01:48] megawac commented on #31
It's transpiled code, less bytes is better is my thinking

[2016-02-16 01:57] jdalton commented on #31
Ok.

[2016-02-16 01:57] #31 closed

[2016-02-16 02:06] megawac commented on #31
The other argument I'd have against it is that it requires lodash>=4.1? removing support for plugin support for 4.0

[2016-02-16 02:23] jdalton commented on #31
I'd be cool with that. 4.0 was super buggy.

[2016-02-17 00:25] #32 closed

[2016-02-17 00:33] megawac commented on #29
Interesting, the fastest fix for you would probably be to just

[code]

Not exactly sure how I want to handle this yet

[2016-02-17 00:36] megawac commented on #29
Its weird that the presets, transpiling the spread to ES5 is running before this plugin. I would expect babel to see

[code]

I think babel might of changed this behaviour in a recent version (6.5). What version are you using out of curiousity

[2016-02-17 02:39] yvele commented on #29
Same problem for me and I'm using **babel-cli 6.5.1** with **babel-plugin-lodash 2.0.1**

[code]

is transpilled to

[code]

[2016-02-19 18:06] megawac opened #33 "Support partial/wrapperMethod placeholders"
[code]

Will exhibit the same issues as #29. Thoughts on how to transpile @jdalton?

[2016-02-19 18:41] jdalton commented on #33
Each method with placeholder support has it anchored to its module so:
[code]

[2016-02-19 18:42] jdalton commented on #33
They aren't ness the same reference though so they should be paired. By that I mean `partial.placeholder` may not `===` the `curry.placeholder`

[2016-02-22 20:02] jdalton commented on #28
@megawac It looks like https://phabricator.babeljs.io/T7078 is waiting on a repro from you.

[2016-02-22 20:19] megawac commented on #28
Published in v2.1

On Mon, Feb 22, 2016 at 3:02 PM, John-David Dalton <notifications@github.com

[2016-02-22 20:23] jdalton commented on #28
Cool! Can you close out the babel bug too.

[2016-02-22 20:24] megawac commented on #28
Not sure how lol

On Mon, Feb 22, 2016 at 3:23 PM, John-David Dalton <notifications@github.com

[2016-02-22 20:25] jdalton commented on #28
You have to edit the original message and change its state to close from open. It takes some getting used to.

[2016-02-22 21:03] smashercosmo commented on #28
So, am I right, there will be no backporting to 0.2 branch?

[2016-02-22 22:39] megawac commented on #28
Sure @smashercosmo, created a branch and a 0.3 release with that commit. Probably not going to do much maintenance on that branch though. Feel free to direct PRs against it

[2016-02-22 22:42] smashercosmo commented on #28
@megawac that was fast) awesome, thx a lot

[2016-02-23 08:14] boneskull opened #34 "missing functions redux"
I'm doing the following:

[code]

`flatten` and `compact` are `undefined` after transpilation.

fwiw, the following works:

[code]

Am I doing something wrong here?  I don't see `compact` mentioned anywhere in the "FP Guide".

[2016-02-23 08:18] boneskull commented on #34
Invalid; creating a new issue

[2016-02-23 08:20] boneskull opened #35 ""npm install babel-plugin-lodash@latest" results in installing v0.3.0"
This is either an npm v3 issue or a babel-plugin-lodash issue.

[code]

If the tags are being published correctly, this is an npm bug.

[2016-02-23 08:24] boneskull commented on #34
Reopening because this is still happening after I've asserted I have the latest versions of stuff installed; lodash@4.5.1 and babel-plugin-lodash@2.1.0.

Resulting file (containing some other stuff, *probably* not related, but you never know):

[code]

`.babelrc`:

[code]

[2016-02-23 08:24] boneskull commented on #34
It's not tripping up on this, is it?

[code]

[2016-02-23 21:13] jdalton commented on #35
Fixed. When v0.3.0 was published it wasn't tagged so it defaulted to `latest`. I've corrected it.

[2016-02-23 21:13] #35 closed

[2016-02-23 21:17] jdalton commented on #34
[code]

I don't think so. I think it's related to #28.

[2016-02-23 23:11] megawac commented on #34
@boneskull it looks like you're using version 3 of lodash (so that `0.x` versions)

This works with the master implementation ([see test](https://github.com/lodash/babel-plugin-lodash/tree/master/test/fixtures/lodash-fp-argument-usage) but I don't recall if the functionality was on the `0.x` branch.

[2016-02-23 23:11] boneskull commented on #34
@megawac How do you deduce that?

[2016-02-23 23:12] megawac commented on #34
Because `compose` isn't in lodash 4. Anyway support for this was added in https://github.com/lodash/babel-plugin-lodash/pull/11.

[2016-02-23 23:13] boneskull commented on #34
@megawac ?!  How the hell am I using `compose` then?

Entirely too-long `npm ls` follows:

[code]

[2016-02-23 23:14] jdalton commented on #34
The `compose` [alias exists](https://github.com/lodash/lodash/wiki/FP-Guide#aliases) in `fp` to make it easier for folks coming from other fp libs.

[2016-02-23 23:15] boneskull commented on #34
OK, that had me worried.

[2016-02-23 23:15] jdalton commented on #34
Can you snip the ls or link to it in a gist.

[2016-02-23 23:15] megawac commented on #34
That's pretty annoying @jdalton, the detection of methods is based on whats defined on `lodash` not what is defined on `/fp`.

Should have just kept `compose` as an alias. SMH.

[2016-02-23 23:16] jdalton commented on #34
The `fp` module has complete different aliases which aren't approp for lodash proper.

[2016-02-23 23:17] boneskull commented on #34
Sorry. sec.

[2016-02-23 23:17] boneskull commented on #34
@jdalton output [here](https://gist.github.com/boneskull/b810afacd29bace253d8)

[2016-02-23 23:19] boneskull commented on #34
(*possibly* related, I can't seem to `import {noop} from 'lodash'`--is this intentional?)

[2016-02-23 23:22] megawac commented on #34
What version are you using? It should work @boneskull

[2016-02-23 23:23] boneskull commented on #34
as shown in the `npm ls` output I'm on `lodash`@4.5.1 and `babel-plugin-lodash`@2.1.0

[2016-02-23 23:23] boneskull commented on #34
`import noop from 'lodash/noop'` works, however.

[2016-02-23 23:36] jdalton commented on #34
Ok so it looks like the issue is that `babel-plugin-lodash` needs to also crawl `lodash/fp` if it's being used to get the correct mapping.

@boneskull Can you move the `noop` bit to a separate issue.

[2016-02-23 23:40] jdalton commented on #34
Besides aliases there are `fp` specific versions of methods like `curryN`, `trimChars`, etc.

[2016-02-23 23:44] boneskull opened #36 "cannot import {noop} from 'lodash'"
(assuming this is a `babel-plugin-lodash` issue)

[code]

results in `noop` having a value of `undefined`.

[code]

results in `noop` having a value of the `noop` function.

I have not tested this against `lodash/fp/noop` or `{noop} from lodash/fp`.

lodash@4.5.1, babel-plugin-lodash@2.1.0

[2016-02-26 17:03] danez commented on #36
I have the same problem:

[code]
results in:
[code]

[2016-02-29 14:57] megawac commented on #20
Easiest solution would be to test the plugin on both lodash@^3 and lodash@^4 as both work at the moment

[2016-02-29 14:59] #36 closed

[2016-02-29 15:36] #34 closed

[2016-03-04 12:52] smashercosmo commented on #7
Get this error with v0.3.0. Babel version is 5.8.23.

[2016-03-04 19:10] megawac commented on #7
Going to need more details. Unit tests pass https://travis-ci.org/lodash/babel-plugin-lodash/jobs/111081971#L160

[2016-03-04 21:48] smashercosmo commented on #7
@megawac what extra data should I provide?

[2016-03-04 22:22] megawac commented on #7
Can you give me a method to reproduce? As I've shown the unit tests pass with `babel@5`

[2016-03-06 17:57] #33 closed

[2016-03-06 18:07] megawac commented on #29
Having issues with this one. Although I can definitely reproduce it ([in unit tests](https://github.com/lodash/babel-plugin-lodash/tree/master/test/skipped-fixtures/spread-operator)) I have failed to isolate it in an example [repo for the issue](https://github.com/megawac/babel-spread-issue).

[2016-03-06 19:48] lukekarrys opened #37 "method missing from compiled code in 2.2.0"
I'm seeing and error where the generated code with this plugin is now missing having the method inlined in some cases after updating from `2.1.0` to `2.2.0`.

**source**
[code]

**compiled**
[code]

I put together [a gist](https://gist.github.com/lukekarrys/9ed25fa5842036502377#file-readme-md) with a the complete example including my babelrc and the previously compiled code from `2.1.0`.

[2016-03-06 23:46] nfcampos opened #38 "cannot read property name of null (fpSpecified) on v2.2.0"
Hi,

I'm getting this error on v2.2.0 (but not on 2.1.0)
[code]
I can reproduce this error with a file as simple as this (no use of lodash in the file)
[code]

Thanks,
Nuno

[2016-03-07 03:34] ablipan commented on #38
Meet the problem either after upgrade to v2.2.0.

[2016-03-07 06:45] TrejGun opened #39 "dynamic props are broken"
very useful plugin but broken :(

code
[code]

exits with error
[code]

.babelrc
[code]

[2016-03-07 10:03] Bertg commented on #38
+1

[2016-03-07 10:47] gabro commented on #38
Same here. Could it be that the issue is exactly the lack of a lodash import in the file?

[2016-03-07 11:51] danez commented on #38
Same here with imports like that: `import { without } from 'lodash';`

[2016-03-08 08:38] wouterverweirder commented on #39
Got an issue probably related to this one (error on exact same line). When using spreads in a jsx, without any additional props, it works fine:

`<PostForm {...post} />`

As soon as I add additional arguments, e.g.

`<PostForm {...post} mode="edit" />`

My build breaks:

`ERROR in ./_js/pages/Overview.jsx
Module build failed: TypeError: /Users/wouter/_js/pages/Overview.jsx: Cannot read property 'n

[2016-03-08 14:25] MadaraUchiha commented on #39
I've managed to reproduce this with only `var foo;` in my JS file. It sounds like a critical bug that affects everyone.

[2016-03-08 15:27] #38 closed

[2016-03-08 15:29] #39 closed

[2016-03-08 16:26] megawac commented on #37
Broke it in https://github.com/lodash/babel-plugin-lodash/commit/20ec9242329b9d0e95b50009dbb286bfd0a7f6cf

[2016-03-08 16:41] MadaraUchiha commented on #39
@megawac When is a release with this fixed revision expected to be released? We're currently working with 2.1.0 but we get build warnings about not being in the latest stable version ;)

[2016-03-08 16:43] megawac commented on #39
Couple minutes, just fixing another regression (#37)

[2016-03-08 16:44] #37 closed

[2016-03-08 16:45] lukekarrys commented on #37
Thanks @megawac!

[2016-03-08 16:47] megawac commented on #37
Fixed in 2.2.1

[2016-03-08 16:48] megawac commented on #38
Fixed in 2.2.1

[2016-03-08 16:48] megawac commented on #39
Fixed in 2.2.1

On Tue, Mar 8, 2016 at 11:41 AM, Madara Uchiha <notifications@github.com>
wrote:

[2016-03-08 17:06] danez commented on #38
thanks @megawac

[2016-03-10 10:49] smashercosmo commented on #7
@megawac ok, here is the simple [repo](https://github.com/smashercosmo/babel-plugin-lodash-issue). just try to build it with webpack and you'll get this error.

[2016-03-15 09:35] smashercosmo commented on #7
@megawac did you take a look at the repo?)

[2016-03-15 12:11] megawac commented on #7
Haven't had a chance sorry.

[2016-03-21 15:02] lukethenuke opened #40 "Named import from lodash/fp fails when used as a function argument"
I have managed to repro it down to the following:
using lodash (v4.6.1) and babel-plugin-lodash (v2.2.1)
the code was run with babel-cli (v6.6.5) on windows 7

[code]
Some notes:
The filter function does not need to come from lodash, anything will do in its place.
The isObject function can be anything from lodash/fp
Importing from 'lodash' works
Importing the default export directly works (eg. imp

[2016-03-21 21:15] gebrits opened #41 "Example to make this work with webpack / babel-loader"
babel-plugin-lodash looks awesome. However, I can't get it to load in my webpack/ babel-loader pipeline.
Has anyone managed to get it to work in combination with webpack?

[2016-03-29 02:12] viveleroi commented on #41
I have, without any issue. I added this plugin to the `.babelrc` config file, included lodash in my source, and presto. https://github.com/helion3/inspire-tree/tree/bundle

[2016-03-29 02:22] viveleroi opened #42 "Better tree shaking"
I'm converting a project which imports individual lodash modules (`import each from 'lodash.foreach'`) to use this plugin instead (this plugin helps me avoid a webpack amd/define bug).

However, there's still a lot of lodash code left in place that my code isn't using - in my case the difference is 143k (uncompressed) more code compared to when I loaded the files individually.

Looking at the diff

[2016-03-30 22:29] 0x80 commented on #40
I ran into the same problem. The workaround to import from /fp directly defeats the use of this plugin no?

[2016-03-31 05:07] #42 closed

[2016-03-31 05:08] jdalton commented on #42
The plugin rewires module requires. Tree shaking is the side effect.

[2016-03-31 05:09] jdalton commented on #40
Moving to #43.

[2016-04-06 00:26] brandondoran commented on #41
I too get an error in my webpack build after adding `"lodash"` to `.babelrc`. I have not figured it out yet.
[code]

[2016-04-06 03:27] brandondoran commented on #41
My problem was I added "lodash" to `presets` instead of `plugins` in `.babelrc`. Works like a charm once I corrected that.

[2016-04-06 10:03] gex opened #44 "how to use lodash mixins?"
hi,

i'm migrating an old project to es6 and babel and this is an extremely useful plugin for me but i don't know how to use [mixins](https://lodash.com/docs#mixin) to prevent this error:
[code]

i try to use
[code]

is this even possible? :)

[2016-04-08 00:07] jjt commented on #41
I'm facing the same issue here, and I'm wondering if it has to do with [babel-plugin-resolver](https://github.com/jshanson7/babel-plugin-resolver), which I'm using.

At [index.js#L59](https://github.com/lodash/babel-plugin-lodash/blob/master/src/index.js#L59), this check in `ImportDeclaration` always fails because it's getting the absolute path:

[code]

[2016-04-10 20:11] megawac commented on #44
I don't think there is a good way for this plugin to support mixins, especially mixins originating in other files. The simplest approach would be to simply convert a mixin to a function, but again, it runs into the issue of mixins in other files.

I think I'd suggest just not using `mixin` as it has minimal benefits outside of chaining which is also not supported by this plugin. Further it would b

[2016-04-10 20:13] megawac commented on #44
(I also am not ready to throw a warning as mixin can be used with different source objects, though I suppose args could be inspected)

[2016-04-10 22:15] #44 closed

[2016-04-11 12:28] gex commented on #44
thank you @megawac for the answer!

[2016-04-15 08:22] boneskull opened #45 "release again"
I'm not 100%, but I'm pretty sure that 2.2.2 wasn't built before publishing.  Add a `prepublish` script?

[2016-04-15 13:58] jdalton commented on #45
Moving to #46.

[2016-04-15 13:58] #45 closed

[2016-04-15 14:20] megawac commented on #45
Yeah #40 is missing. Republished. About the prepublish script there was a reason it was removed. I'll see if I can find the relevant comment

[2016-04-15 17:55] janryWang opened #47 "Should support like "export {isObject} from 'lodash/fp' "!"

[2016-04-15 19:09] #47 closed

[2016-04-16 17:54] megawac commented on #41
@jjt interesting, would #15 work if we added support for something like

`[require('babel-plugin-transform-es2015-template-literals'), { 'lodash-path': 'node_modules/lodash'}]`

Though because your path there is absolute it would not be possible to transfer that logic between computers

[2016-04-16 17:56] megawac commented on #41
Also if someone is interested in making a webpack example it'd be greatly appreciated

[2016-04-17 03:21] jdalton commented on #40
Reopening after reverting previous patch.

[2016-04-20 01:21] jdalton commented on #7
With Babel 6 stable I think it's time to drop pre 1.0 support of this plugin.

[2016-04-20 01:21] #7 closed

[2016-04-21 09:39] northerneyes opened #48 "noop is undefined (via `import {noop} from 'lodash'` ), if you use it inside another lodash method"
Example

[code]
after webpack we get something like this
[code]
lodash@4.11.1, babel-plugin-lodash@2.3.0

[2016-04-25 02:23] jdalton commented on #40
Closed via https://github.com/lodash/babel-plugin-lodash/commit/4b1ea1b784ddf98f1b07efd6425559593a9d1677.

[2016-04-25 02:23] #40 closed

[2016-04-25 02:24] jdalton commented on #15
Closed via https://github.com/lodash/babel-plugin-lodash/commit/4b1ea1b784ddf98f1b07efd6425559593a9d1677.

[2016-04-25 02:24] #15 closed

[2016-04-25 06:19] megawac commented on #15
No tests?

[2016-04-25 06:22] megawac commented on #15
I'm pretty sure your patch doesn't work because `resolveModules` still
assumes `node_modules/lodash` is the base path

On Sun, Apr 24, 2016 at 10:24 PM, John-David Dalton <
notifications@github.com> wrote:

[2016-04-25 06:31] jdalton commented on #15
No worries. I'll add tests in a bit.

[2016-04-27 03:56] jdalton commented on #48
Patched https://github.com/lodash/babel-plugin-lodash/commit/16a695cb65eb484ab12d9e42ae4e8f703df27de5.

[2016-04-27 03:56] #48 closed

[2016-04-27 07:38] jdalton commented on #29
Pinging @hzoo for assistance.

When running the [spread test file](https://github.com/lodash/babel-plugin-lodash/blob/master/test/skipped-fixtures/lodash-spread-operator/actual.js) of the [plugin](https://github.com/lodash/babel-plugin-lodash/blob/3a4fae6ed3d592f9be4d936a1c41a31463d57a5d/src/index.js#L68):
[code]

It produces code like
[code]
Where I'd like the `_` and the `fp` to be `undefined` a

[2016-04-28 00:31] jdalton commented on #20
Closed by https://github.com/lodash/babel-plugin-lodash/commit/0ad8927822945928b5931a7fafc2f076035b0da0.

[2016-04-28 00:31] #20 closed

[2016-04-28 01:55] jdalton commented on #29
Any pointers @thejameskyle?

[2016-04-28 07:22] #29 closed

[2016-04-28 19:18] hzoo commented on #29
Glad to see you figured it out (probably before I could too 😄 )

[2016-04-28 19:20] jdalton commented on #29
Ended up drying it out more too https://github.com/lodash/babel-plugin-lodash/blob/6d8be9bde3dcf1d07a8ddbf3dbe506dcac64b973/src/index.js#L159-L161.

[2016-04-28 23:31] jdalton commented on #41
I've gotten the babel plugin to work in a test webpack setup. I'll add a doc example soon.

[2016-04-28 23:32] jdalton commented on #41
It's basically:
[code]

[2016-04-28 23:36] jdalton commented on #41
In next release of babel-plugin-lodash will also allow you to pass the lodash package id so that it won't have to guess.
[code]

[2016-04-28 23:47] megawac commented on #41
Nice that was originally how I was going to solve https://github.com/lodash/babel-plugin-lodash/issues/15

[2016-04-28 23:51] jdalton commented on #41
This is also how we're able to test `lodash`, `lodash-es`, and `lodash-compat` at once too.

[2016-04-29 01:40] jdalton commented on #29
@loganfsmyth
Could you sanity check this:
[code]
now errors for me with smth like:
[code]

[2016-04-29 15:51] jdalton commented on #41
Patched with https://github.com/lodash/babel-plugin-lodash/commit/a79e24a56d4f10ffdbcf2b7d9196f6fdc3dd2437 and https://github.com/lodash/babel-plugin-lodash/commit/486bda88396f1603c7b079ac22a8dff6bee45b04 and

[2016-04-29 15:51] #41 closed

[2016-05-04 02:17] not-an-aardvark opened #53 "SyntaxError: Unexpected token default"
I have a module file that causes a syntax error when transformed with babel-plugin-lodash.

The module file:

[code]

The `.babelrc`file:

[code]

I transpiled it using:

[code]

The output file `transpiledModule.js` looks like this:

[code]

Running this file with `node transpiledModule.js` gives the following error:

[code]

Note that this issue no longer occurs if babel-plugin-lodash is removed

[2016-05-04 03:24] jdalton commented on #53
I can't repro this. If you don't have `lodash` installed then it should error with
[code]
with `lodash` installed the output I get is:
[code]

[2016-05-04 03:24] #53 closed

[2016-05-04 04:52] not-an-aardvark commented on #53
Thanks for looking into it, but that's confusing because it's definitely occurring for me (for one reason or another).

I made [a repo](/not-an-aardvark/babel-plugin-lodash-bug-demo) to demonstrate it -- are you able to reproduce it with that?

[2016-05-04 05:11] jdalton commented on #53
It's something with your npm-shrinkwrap. If I delete that then I get a different error related to not having lodash installed. It's not the proper error so a bug on the plugin but not related to the transform.

[2016-05-04 05:28] not-an-aardvark commented on #53
It looks like there's a preinstall script that's getting run from somewhere, which might be causing the issue:

[code]

I was able to toggle the bug by doing this:

[code]

[2016-05-04 15:11] danez opened #54 "Changelog"
Can we please add a changelog?

I wanted to check what changed in 3.0, but don't want to check 100+ commits.

[2016-05-04 15:18] jdalton commented on #54
The breaking change was dropping Node 0.10 support.

[2016-05-04 15:18] #54 closed

[2016-05-04 16:09] mrchief opened #55 "ReferenceError: Symbol is not defined"
I'm seeing this error and I'm not sure what I'm missing:

[code]

server.js
[code]

package.json
[code]

[2016-05-04 16:32] jdalton commented on #55
babel-plugin-lodash supports Node 0.12 and up.

[2016-05-04 16:32] #55 closed

[2016-05-04 17:09] not-an-aardvark commented on #53
I'm trying to find where this issue is coming from, but I can't seem to figure out why you're not able to reproduce it. The shrinkwrap file in the repo was generated by simply running `npm install` followed by `npm shrinkwrap`.

I tried running the demo on a travis server, and a SyntaxError appeared regardless of whether a shrinkwrap was present. ([Here's](https://travis-ci.org/not-an-aardvark/bab

[2016-05-04 17:29] jdalton commented on #53
Patched! Thanks for digging in!

[2016-05-04 17:38] mrchief commented on #55
I tried with Node v4.4.3, v5 and v6. Same error.

[2016-05-04 17:43] jdalton commented on #55
See https://travis-ci.org/lodash/babel-plugin-lodash/builds/127857222.
I'm guessing it's a bug in babel-polyfill.

[2016-05-04 17:44] mrchief commented on #55
Seeing that its fresh off the oven, is there a new version in npm that I could try with?

[2016-05-04 18:03] mrchief commented on #55
I think it may not be your issue at all. I found something on my end (it has to do more with how we deploy our apps).

[2016-05-04 18:04] jdalton commented on #55
Word!

[2016-05-04 18:14] not-an-aardvark commented on #53
Thanks!

[2016-05-04 20:33] mrchief commented on #55
Yeah that was it. Our auto deployer was defaulting to node v0.10 due to some bug on their part.

[2016-05-05 16:38] dlindenkreuz opened #56 "Use webpack context for resolving lodash module paths"
At the moment, the plugin uses `process.cwd()` for finding a local lodash installation ([config.js, line 31](https://github.com/lodash/babel-plugin-lodash/blob/master/src/config.js#L31)).

When running a devserver in a different directory than the root of the files to be compiled, lodash modules cannot be resolved and webpack quits building early.

**Example**:

- express with webpack-dev-middlewa

[2016-05-05 16:51] jdalton commented on #56
If you're up for creating a PR that would rock.

[2016-05-05 16:56] megawac commented on #56
Probably what makes most sense is to take the `cwd` as a plugin option

[2016-05-05 17:07] #56 closed

[2016-05-05 17:09] dlindenkreuz commented on #56
That was quick, thanks!

[2016-05-08 22:13] not-an-aardvark opened #60 "babel-plugin-lodash and babel-plugin-transform-object-rest-spread can cause an error when used together"
For reference, [babel-plugin-transform-object-rest-spread](https://www.npmjs.com/package/babel-plugin-transform-object-rest-spread) is an official plugin that transpiles [this stage 2 proposal](/sebmarkbage/ecmascript-rest-spread).

---

Test file:

[code]

.babelrc:

[code]

Transpiled using:

[code]

The transpiled file looks like this:

[code]

Running the transpiled file with `node transpiledT

[2016-05-09 04:32] #60 closed

[2016-05-09 04:38] jdalton commented on #60
So the fix I have isn't super. It's just more restrictive. Ideally we'd know that the `keys` referenced in the helper code isn't the `keys` of the module but that would require a bit more inspection and I'd like to keep things simple for now.

[2016-05-09 04:54] not-an-aardvark commented on #60
Thanks for the fix.

I remember from messing around with babel plugins in the past that babel's plugin API exposes a [generateUidIdentifier](https://github.com/thejameskyle/babel-handbook/blob/master/translations/en/plugin-handbook.md#generating-a-uid) function to avoid conflicts with local variables. Would that be applicable here?

[2016-05-09 05:26] jdalton commented on #60
The identifiers are already generated with `generateUidIdentifier` by `path.hub.file.addImport`.

[2016-05-09 05:27] jdalton commented on #60
The issue isn't generated ids it's the the helpers vars shadow those in an outer scope. So I'd have to inspect and walk scopes (gross).

[2016-05-09 05:36] not-an-aardvark commented on #60
Ah alright, that makes sense. Thanks for the clarification.

[2016-05-09 06:18] jdalton commented on #60
Turns out a more robust check was easy after all. https://github.com/lodash/babel-plugin-lodash/commit/4a9f9460eeda0f23feb713ee77ae09e10d8634cf

[2016-05-09 07:26] jdalton commented on #60
Moved the checks into helper functions and applied them to all other areas. https://github.com/lodash/babel-plugin-lodash/commit/faea5c72eeb19e5e34497bb4cd3325c42a48d035.

[2016-05-09 12:55] serahhh opened #61 "'merge is not defined' since 3.1.1"
Test case: https://github.com/serahhh/babel-plugin-lodash-test

3.1.0 works fine.

[2016-05-09 15:43] #61 closed

[2016-05-09 15:46] jdalton commented on #61
Thanks!

[2016-05-11 05:51] SpainTrain opened #62 "nested and uninvoked method references not being replaced"
In the following code, `isPlainObject`, `isArray`, and `identity` do not get replaced:

[code]

Using `import { isPlainObject, isArray, identity, ... } from 'lodash'`, the above code compiles to

[code]

While using the manual cherry pick style `import isPlainObect from 'lodash/isPlainObject'`, the above code compiles to

[code]

Happy to create a full, live reproduction if helpful!

[2016-05-11 07:21] #62 closed

[2016-05-11 07:21] jdalton commented on #62
Thanks!

[2016-05-26 23:20] elado opened #72 "noConflict not working"
Getting "Lodash method noConflict is not a known module.".

[2016-05-26 23:21] elado commented on #72
Actually, there's no use for that with this plugin!

[2016-05-26 23:21] #72 closed

[2016-05-27 00:28] jdalton commented on #72
Hi @elado!

Yap, you're right!

[2016-05-27 00:36] elado opened #73 "_.each transforms into arrayEach?"
I use `_.each` for objects too, but seems like it's turning it into an `arrayEach`, which doesn't let me iterate through arrays.

Bug?

<img width="497" alt="screen shot 2016-05-26 at 5 35 01 pm" src="https://cloud.githubusercontent.com/assets/51488/15594181/468100c4-2368-11e6-8845-59477400be41.png">

[2016-05-27 00:38] jdalton commented on #73
Sounds like you're using `lodash-webpack-plugin` without the `collections` option enabled.

[2016-05-27 00:38] #73 closed

[2016-05-27 05:16] elado commented on #73
Thanks! That explains why the tests didn't fail (no webpack) but it did on the browser (webpack).

[2016-05-30 14:49] markelog opened #75 "Mention "bad practise" approach"
Do i understand this correctly - such plugin should be used only if consumer doesn't use tools like rollup or webpack 2 where tree-shaking algorithm is implemented? If so, should this note be added to the docs?

Also, would you agree that this code -
[code]

Is worse then

[code]
?

[2016-05-30 14:57] markelog commented on #75
By that i mean "importing" the whole library (at least it is perceived that way) instead of one desired method, complicates understanding what methods is used from library and possible update to new tools in which this plugin wouldn't need to be used.

All and all such code doesn't look obvious to me

[2016-05-30 15:02] jdalton commented on #75
This plugin will transform:
[code]
as well as code like:
[code]

Webpack2 and rollup do not support tree-shaking with Lodash.

[2016-05-30 15:02] #75 closed

[2016-05-30 15:12] markelog commented on #75
Should this be mentioned in the docs? Do you have a relevant links?

I know, but this is not what i asked

[2016-05-30 15:14] jdalton commented on #75
Folks tend to figure it out when they use them. There are open issues on both I believe. Though the gist of the threads are *shrug* since both tree-shaking implementations are too sensitive to potential side-effects, of which Lodash has none.

[2016-05-30 15:16] jdalton commented on #75
Lodash is pretty hands off when it comes to telling folks how to code. It's why we support both styles.

[2016-05-30 15:39] markelog commented on #75
I guess you mean https://github.com/webpack/webpack/issues/1750 and https://github.com/rollup/rollup/issues/45?

I would add those links in readme, like "If you use rollup or webpack 2 this dependency will be no longer needed after following issues will be resolved - ..."

I would be interested to hear how would you do this, not as recommendation, but your personal opinion, sorry if this out of th

[2016-05-30 19:08] jdalton commented on #75
I've gotten the impression that those issues won't likely be resolved.
I rather broken tools like webpack 2 and rollup link to us :P

[2016-06-05 09:20] phyllisstein opened #77 "Plugin chokes on `export * from` syntax."
Hey there! I've been trying to integrate this lovely-looking plugin into my build pipeline, but it's throwing errors in modules that use syntax like this:

[code]

When I run Babel with the Lodash plugin enabled, any module that uses that `export * from` syntax throws a variant on the following error:

[code]

Without the plugin, the builds run and the exports are parsed as expected.

[2016-06-05 16:40] jdalton commented on #77
Hi @phyllisstein!

What version of `babel-plugin-lodash` are you using?

[2016-06-05 17:40] #77 closed

[2016-06-06 00:26] phyllisstein commented on #77
Hey there! I was using v3.1.4. After a little experimentation I determined that it seems to be a conflict with `babel-plugin-transform-runtime`: when I remove that plugin from my Webpack config, the Lodash plugin works great, but when I add it again I see the errors above. You can see the issue in action in [this repo](https://github.com/ignota/issue0/tree/babel-plugin-lodash), but I'm trying to p

[2016-06-06 00:34] phyllisstein commented on #77
Here's a much more lightweight example of how to reproduce the error: <https://github.com/phyllisstein/lodash-repro-repo>.

Hope that helps! Let me know if I can furnish any more information.

[2016-06-06 05:25] jdalton commented on #77
Thanks for the repro. Patched https://github.com/lodash/babel-plugin-lodash/commit/7afd0014c877b005a5ae3844d5fe8551fca8e011.

[2016-06-06 06:23] phyllisstein commented on #77
Thanks so much! Appears to work like a charm. 💃

[2016-06-07 14:40] espretto opened #78 "map/alias lodash-compat"
it seems the plugin is able to map/alias lodash imports to their compat version through this config snippet taken from the npm readme.
[code]
since lodash broke with categories this mechanism seems to be restricted to versions 3.x.x

[2016-06-07 15:25] jdalton commented on #78
The `lodash-compat` package is for v3. There isn't a v4 version of `lodash-compat`.

[2016-06-07 15:25] #78 closed

[2016-06-23 09:49] trueter opened #83 "Plugin specified provided an invalid property __wrapped__"
Hey folks! Any idea how to go about this?
[code]

[2016-06-23 14:48] jdalton commented on #83
Did you forget to `npm i` a plugin or preset?

[2016-06-23 14:48] #83 closed

[2016-06-23 22:00] ianwremmel opened #84 ""Cannot call method 'get' of undefined" error when use with node 0.10"
So far I've been unable to find the exact location the error comes from, but when used with node 0.10, `Cannot call method 'get' of undefined` is raised.

[2016-06-23 22:31] jdalton commented on #84
`babel-plugin-lodash` does not support Node 0.10.

[2016-06-23 22:31] #84 closed

[2016-07-01 19:57] modosc opened #85 "generic version?"
first, thanks for this plugin.

i'm curious if you'd be open to having a generic version of this module available ( maybe `babel-plugin-cherry-picker`)?

i made 2 small modifications to the codebase (`defaultIds` in `config.js` and the hard-coded `id == 'lodash'` check in `importModule.js`) and i managed to use it to cherry-pick unused modules from [react-bootstrap](https://react-bootstrap.github.

[2016-07-01 20:01] jdalton commented on #85
You can use this now by specifying the "id" option. If you have changes to make it more generic I'm all for it. Send over a PR :)

[2016-07-01 20:01] #85 closed

[2016-07-12 00:07] mthadley opened #86 "Referencing an import value in a void context causes an error."
I know this is a strange and somewhat contrived use case, but I was wondering if this result is expected:

The following...
[code]

will be transpiled to this:
[code]
...which will result in the error `ReferenceError: noop is not defined`. I think I would expect the last line to be `_noop3.default;`.

If I don't use `babel-plugin-lodash`, the value is referenced off of the export like `_lodash.noo

[2016-07-12 01:35] #86 closed

[2016-07-12 01:35] jdalton commented on #86
Thanks!

[2016-07-12 21:45] mthadley opened #87 "JSX expressions are not always transformed correctly."
I noticed that if I am using `babel-plugin-incremental-dom` and `babel-plugin-lodash` together, and I do something like this:

[code]

...it will be transpiled to this:
[code]
which will throw a `ReferenceError` for `noop`.

I think the reason it works with React is because the JSX attributes are passed as an object to `createElement`, and the `Visitor` has a case for `ObjectProperty`. Removing `O

[2016-07-12 22:10] jdalton commented on #87
Ah neat! Can you check that it works if not using JSX (so the verbose ReactDOM API way).

[2016-07-12 22:11] jdalton commented on #87
Or the Incremental DOM way.

[2016-07-12 22:12] jdalton commented on #87
Also shoutout to @jridgewell!

[2016-07-12 22:15] mthadley commented on #87
Yea, both `React.createElement` and `IncrementalDOM.element[whatever]` work. Which makes sense to me since at that point I would expect it to be treated the same as the `console.log()` in the above example (which it apparently does). They are both just function parameters.

[2016-07-12 22:17] jridgewell commented on #87
This is probably a bug with `babel-plugin-incremental-dom`. Mind opening over there?

[2016-07-12 22:18] jdalton commented on #87
:metal:

I think [JSXExpressionContainer](https://github.com/babel/babylon/blob/cde17b33bd6a42fe73289873e3ef62bad2884481/src/plugins/jsx/index.js#L268) looks ok, there may be more places. A PR would be rad.

[2016-07-12 22:23] jdalton commented on #87
I don't think it's a `babel-plugin-incremental-dom` bug. The `babel-plugin-lodash` is just missing the right visitor callback to detect it. It's similar to when we were overlooking `BindExpression`.

[2016-07-12 22:24] jridgewell commented on #87
Ohh, I forgot what `babel-plugin-lodash` does. 😬

[2016-07-12 22:27] mthadley commented on #87
@jdalton Sure, I can try and send something in a little bit here. 👌

[2016-07-12 23:49] jdalton commented on #87
Moved to #88.

[2016-07-12 23:49] #87 closed

[2016-07-13 17:59] mthadley opened #91 "Only the last argument of a name in a CallExpression is transformed correctly."
Starting with this:
[code]
It will be transformed to this:
[code]

I'm not sure where the issue is here on this one.

[2016-07-13 18:02] jdalton commented on #91
It looks like it's an issue with identifiers repeated as different args.

[2016-07-13 18:08] mthadley commented on #91
Also, looks like #90 might solve this?

[2016-07-13 18:10] jdalton commented on #91
Ya, I'll hold off digging into this until that one is merged.

[2016-07-13 20:23] jridgewell opened #92 "Convert #chain into a series of calls"
Post #90, it should be easy to convert from `_.chain().map.filter.take.value` into `_.take(_filter(_.map()))`.

It'll be al little harder to account for shortcut fusion with `_()...`, but it'll probably be doable.

[2016-07-13 21:28] jridgewell commented on #91
Interesting. It's definitely finding and updating the references (`noop` gets changed to `_noop`), but Babel isn't finding each of them and converting it to the import reference `_noop3.default`. This is directly related to injecting a new import, and probably an upstream issue.

[2016-07-13 21:30] megawac commented on #92
What about unfinalized chain sequences which may be passed around? Consider

var c = _.chain([]).map(..)

var f = c.uniqBy(..).value()

[2016-07-13 21:31] jdalton commented on #91
Yep, I saw it finding the references but it seems babel isn't recognizing the changes. \cc @hzoo

[2016-07-13 21:33] megawac commented on #92
Im of the opinion that chain isn't worth supporting and we should continue to recommend flow and flowRight/compose patterns

[2016-07-13 21:45] jdalton commented on #92
Ya, let's keep it simple-ish for now and continue to punt.

[2016-07-13 21:45] #92 closed

[2016-07-14 16:16] jdalton commented on #91
Moving to https://github.com/babel/babylon/issues/79.

[2016-07-15 00:54] jdalton commented on #91
Circling back. The issue appears to be [Babel cache](https://github.com/babel/babel/pull/3393). We memoize and reuse our identifier objects. However, as this issue shows, it can lead to `path.replaceWith` ignoring repeat identifier replacements. The solution at the moment looks like shallow cloning the `identifier` object to avoid the Babel cache.

[2016-07-15 00:59] jridgewell commented on #91
Nice find! `types` provides a `#clone` for nodes, instead of using lodash's.

[2016-07-15 01:02] jdalton commented on #91
🙌

[2016-07-15 01:12] jdalton commented on #91
I'm not sure all the places that may need the clone but we'll start out with `replaceWith` calls and add as needed.

[2016-07-15 03:01] #91 closed

[2016-07-15 23:28] mattybow opened #94 "baseGet in get points to getValue fn in transform"
`get()` is not working properly in my build when I am trying to access a deeply nested key.
[code]
I think this is because inside `get()` `baseGet()` is not pointed at the correct function.
When I look at what the code transforms to, I see this:
[code]
on node 6.2.1, npm 3.9.3
<details>
<summary>package.json</summary>
[code]
</details>

[2016-07-15 23:39] jdalton commented on #94
Hi @mattybow!

You'll need to enable the `"paths"` feature set of [lodash-webpack-plugin](https://github.com/lodash/lodash-webpack-plugin#feature-sets).

[2016-07-15 23:39] #94 closed

[2016-07-18 18:22] joyfulelement opened #95 "Module build failed: Cannot read property 'toLowerCase' of undefined"
Hi,

With the upgrade to version 3.2.4, there seems to be a compatibility issue with lodash build and produces the following build error with webpack.

Here was the line up of the modules that resulted a broken build:

- lodash: **lodash@4.13.1**
- babel-plugin-lodash:  **babel-plugin-lodash@3.2.4**

[code]

In the previous babel-plugin-lodash build 3.2.3, which was successful when building agains

[2016-07-18 18:27] jdalton commented on #95
Hmm the `name` param `importModule` should always exist and be a string.
Do you have a snippet I can check against?

[2016-07-18 18:55] joyfulelement commented on #95
I have copied the content of `importModule.js` from the build machine.

[code]

[2016-07-18 18:57] jdalton commented on #95
Oh, I meant the JS code your transpiling that's having the issue.

[2016-07-18 19:08] jridgewell opened #96 ""Self host" Compile babel-plugin-lodash with babel-plugin-lodash"
Re: https://github.com/lodash/babel-plugin-lodash/issues/95#issuecomment-233423655

[code]
Notice how we're importing all of `lodash` there? We're only using it for `memoize`... We should try running `babel-plugin-lodash` when we compile.

[2016-07-18 20:17] jdalton commented on #96
YES!!!!

[2016-07-18 20:36] #96 closed

[2016-07-18 21:09] joyfulelement commented on #95
I didn't find any direct calls to `importModule()`. Is there any specific code that you're looking for?
As far as I know, any JS file that contains the statement `import * as _ from 'lodash'` and the use of lodash results the build failure.

[2016-07-18 21:27] jdalton commented on #95
Thanks that's it :D

[2016-07-18 21:43] #95 closed

[2016-07-18 22:07] joyfulelement commented on #95
Amazing turnaround time for this fix, thank you @jdalton , much appreciated!
I assume this would be in the next release i.e. `3.2.5` ?

[2016-07-18 22:09] jdalton commented on #95
Yep. I want to take a unit test cleanup pass before I bump. Expect it this evening though.

[2016-07-19 04:44] megawac commented on #96
nice i could never get this to work when i tried https://github.com/lodash/babel-plugin-lodash/commit/d3de6716db1feb41713fb1a207b7d541efe91f9a

[2016-07-20 12:57] iest commented on #83
Just in case anyone else from the internet wondered in here — it seems the issue is caused **if webpack can't find the specified plugin.**

If like me you're using `require.resolve` in your webpack config, you need to use the full name of the plugin, like so:
[code]

[2016-07-21 07:46] wuct opened #99 "Error when cherry-pick React components from libraries."
I ran into this error when I cherry-picked React components from libraries.

[code]

This error has occurred since `v3.2.3`. Versions from `v3.2.0` to `v3.2.2` are fine.

Here is the minimal setting to reproduce this error.

__.babelrc__

[code]

__foo.js__

[code]
Then run `babel foo.js`

Here are my babel versions, not sure whether they are relevant to this issue.

[code]

Thanks for replying in

[2016-07-22 06:16] #99 closed

[2016-07-22 06:16] jdalton commented on #99
Thanks!

[2016-07-22 07:25] wuct commented on #99
Thanks for fixing :)

[2016-08-05 19:38] insin opened #114 "Picking up new react-bootstrap es/ modules build"
React Bootstrap [just released 0.30.2](https://github.com/react-bootstrap/react-bootstrap/blob/master/CHANGELOG.md#v0302), which includes an `es/` build with native modules intact.

I have [a failing test for cherry-picking with this plugin](https://travis-ci.org/insin/nwb/jobs/150138922#L2470) which creates an ES5 build and a native modules build, which is currently asserting that imports are che

[2016-08-05 19:42] jdalton commented on #114
There isn't at the moment. I just updated [my expected result](https://github.com/lodash/babel-plugin-lodash/blob/master/test/mixed-fixtures/react-bootstrap/expected.js) it should still transpile fine.

[2016-08-05 19:42] #114 closed

[2016-08-05 21:52] jdalton commented on #114
Beyond the expected output path being different does the bundle fail in anyway?

[2016-08-08 03:07] taion commented on #114
@jdalton That's not the correct result. `require('react-bootstrap/es/Alert')` doesn't make sense because `react-bootstrap/es` contains an ES module build with an actual `export default`: https://npmcdn.com/react-bootstrap@0.30.2/es/Alert.js

[2016-08-08 03:10] jdalton commented on #114
Welp then the plugin no longer supports it. Lodash's es builds are essentially the same thing regardless of export (amd, es, commonjs, node). The module format is just the window dressing around the code. I'll likely make paths more configurable (right now its all auto-discovery).

[2016-08-08 03:11] taion opened #116 "Question: Best practices for dealing with named exports from modules"
I have some exports in my entry point that look like:

[code]

https://github.com/reactjs/react-router/blob/v3.0.0-alpha.3/modules/index.js#L16

Will this work correctly with babel-plugin-lodash? If not, is there a way on my end to get it to work that still keeps tree-shaking working-ish between those two exports?

[2016-08-08 03:21] jdalton commented on #116
Try it out. Play around with things and tinker with it.

[2016-08-08 03:21] #116 closed

[2016-08-08 03:21] taion commented on #114
I might be misunderstanding... to clarify, React-Bootstrap (like Redux and React Router) distributes to npm a poly-package. `react-bootstrap/lib` contains the CJS module build, while `react-bootstrap/es` contains the ES module build (and similarly for the other libraries). Right now, `main` points at `lib/index.js` while `module` and `jsnext:main` point at `es/index.js`.

In general we do things t

[2016-08-08 03:40] taion commented on #114
Oh, looks like it's because `es` comes before `lib` lexicographically?

[2016-08-08 03:44] taion commented on #116
Got it. Looks like the way to go would be to use a subdirectory with something like `PropTypes/routerShape.js`.

[2016-08-08 04:11] jdalton commented on #114
I could dig a `"root"` option to specify where to search from. Would you be up for making a PR?

[2016-08-08 04:14] taion commented on #114
I feel like the right way to go would be to look at the `main` entry point specified in `package.json` and start from the directory containing that file, instead of from the package root directory, and then optionally allow configuring the list of entry points to check.

Do you think that could work?

[2016-08-08 04:25] jdalton commented on #114
Sure!

[2016-08-08 04:27] taion commented on #114
@insin Since you opened this issue, do you want to take a stab at this? 😇 I'm merely an innocent bystander here.

[2016-08-08 05:50] taion opened #117 "Allow libraries to opt in to this transform"
This is an half-baked thought – but, given the limitations of tree-shaking, would it make sense to augment the id handling behavior by allowing libraries to opt in to this transform in their `package.json` files?

It'd make it a bit easier to point users at this plugin – I'd just tell them to turn on the plugin, rather than turn on the plugin and then configure it as well.

I can benchmark the ext

[2016-08-08 06:01] insin commented on #114
Yep, I'll have a look.

Defaulting based on `main` and having it configurable sounds good for when you explicitly want the ES6 modules version.

I need the latter when creating an ES6 modules build for React components and will probably want to switch from ES5 to ES6 modules for React apps once I upgrade to Webpack 2.

[2016-08-08 14:14] jdalton commented on #117
Sounds rad. Do you have a mockup of config names and all that?

[2016-08-08 14:55] taion commented on #117
Not yet. Wanted to run this idea past first before thinking really hard about the name of a config key.

[2016-08-09 04:40] jdalton commented on #117
If you get to it feel free to open a PR. You can reference this issue.

[2016-08-09 04:40] #117 closed

[2016-08-10 21:26] ericclemmons opened #118 "lodash is bundled in server-side build despite matching externals"
My server-side build with Webpack, when using a config like this:

[code]

originally generated code similar to this:

[code]

(Notice how it's a blind pass-through to Node's `require` mechanism, as it matches the pattern in `externals`.

However, with `babel-plugin-lodash`, I've noticed the build size increased to include the source like this:

[code]

The build gets _smaller_ if I use `lodash-we

[2016-08-10 21:35] jdalton commented on #118
Bring a repro/test-case my way and I'll get to fix'n it 😀

[2016-08-10 22:13] jdalton commented on #118
Also interested in it converting it to `node_modules/lodash/_arrayMap.js` instead of `lodash/_arrayMap`

[2016-08-11 15:37] jdalton commented on #118
After some thinking this looks like something tackled in the webpack config and not something a babel plugin can actually address. There's plenty of ways to toggle config based on environment.

[2016-08-11 15:37] #118 closed

[2016-08-14 04:36] jdalton commented on #114
Patched https://github.com/lodash/babel-plugin-lodash/commit/3706667bf163165c9c9d0266ca55f604eb05a2db.

[2016-08-14 04:56] taion commented on #114
This is great, thanks – will get users in a state where things will work even if they're not using an ES module aware bundler.

[2016-08-15 13:04] morsdyce opened #119 "Feature Request: Output errors when missing support flags"
I've been using this plugin along with the webpack plugin and came across an issue where I had code working in development but not in production builds.

The issue was that I was missing flags for currying and flattening.
Is it possible to detect cases where you are trying to use unsupported methods that need to be added via flags?

Maybe provide a deprecation function that will run and output the

[2016-08-15 13:49] jdalton commented on #119
Hi @morsdyce!

Minifying shouldn't change the behavior. The `lodash-webpack-plugin` does have some detection when using methods like `_.flatten` directly. Other methods that use it internally to flatten arguments support passing an array of arguments, e.g. `_.curry([fn1, fn2])`.

[2016-08-15 13:49] #119 closed

[2016-08-15 14:32] morsdyce commented on #119
I only applied this plugin in production mode as I assumed it would be a slow transformation I wouldn't need in development (I have no issue loading the full source locally).

I activated the plugin in development mode and the error displayed is very unclear:
`Uncaught (in promise) TypeError: Cannot read property 'length' of undefined`

Example code for triggering this:
[code]

It would really be

[2016-08-15 14:36] jdalton commented on #119
You should use `flow([map(item=> item)])({})`.

[2016-08-16 21:43] schmod opened #122 "_.call causes errors"
There are a handful of code samples around the web (ie. https://github.com/lodash/lodash/issues/1279) that show `_.invokeMap` being used with `_.call` to invoke an array of functions:

[code]

In these cases, `_.call` is simply a shorthand for `Function.prototype.call`.

Unfortunately, babel-plugin-lodash does not like this, and exits with an error if you try to use it:

[code]

---

While this is

[2016-08-16 22:25] jdalton commented on #122
This plugin is moving in a lib agnostic direction, to become a generic cherry-pick plugin, so I'd like to avoid support for special edge cases like this.

[2016-08-16 22:25] #122 closed

[2016-08-20 14:52] tysonnero opened #123 "last is not defined when executed in Chrome devtools"
Hi,

If I import a lodash module as so: `import last from 'lodash/last';`
Then open up the Chrome devtoools consol and execute something like: `last(someArray)`
I get the following error: `Uncaught ReferenceError: last is not defined`

This happens for any imported module.
I have this plugin installed and `"plugins": ["lodash"]` in my .babelrc.
Any ideas what I'm doing wrong?

Thanks!

[2016-08-20 15:37] jdalton commented on #123
Hi @tysonnero!

I can't repro the issue.

When I do:
[code]
I get:
[code]

[2016-08-20 15:37] #123 closed

[2016-08-20 16:08] tysonnero commented on #123
@jdalton Thanks for the quick response!

I may have worded that wrong. What I actually meant is if I set a break point, and try to execute `last([1,2,3])` in the Chrome devtools Console, I get the `last is not defined` error. I experienced this when trying to debug and didn't know if that was expected behavior or an actual issue.

Otherwise, it works flawlessly like you've modeled.

[2016-08-20 16:23] jdalton commented on #123
Hmm, not sure. I can execute the compiled bundle without issue.

[2016-08-20 20:06] DiscoNova commented on #123
I believe what you've described is the expected behaviour. The point of modules is that they don't leake their internal state ... even into the console (i.e. the console is not in same scope as the function execution - even when execution is paused by the debugger).

We can expose the internal state (through using console.log or a variable that gets assigned to global scope) but accessing the stat

[2016-08-20 21:31] tysonnero commented on #123
@DiscoNova Thanks for the explanation!

[2016-08-22 10:43] alexanbj opened #124 "Cannot read property 'has' of undefined"
After deleting my node_modules today and reinstalling, and error is now thrown from babel-plugin-lodash:

[code]
_Search.jsx_ uses the _debounce_ method from lodash: `import { debounce } from 'lodash';`

* babel-plugin-lodash: __3.2.8__
* lodash: __4.15.0__
* Node : __6.2.1__
* Env: OS X

.babelrc:
[code]

Edit: Added import statement from Search.jsx

[2016-08-22 12:08] slestang commented on #124
Same issue here; all files doing something like:
[code]
throw an error.

- babel-plugin-lodash: the bug is reproducible with 3.2.6 to 3.2.8
- babel-core: 6.13.2
- lodash: 4.14.1
- Node : 4.2.6
- Env: Ubuntu 16.04

[2016-08-22 14:01] jdalton commented on #124
@alexanbj Hmm I can't repro. Here is my results:
[code]
lodash 4.15.0
node 6.3.1
webpack 1.13.1
babel-core 6.13.2
babel-loader 6.2.5
babel-plugin-transform-object-rest-spread 6.8.0
babel-preset-es2015 6.13.2
babel-preset-react 6.11.1
react-hot-loader 3.0.0-beta.2
babel-plugin-lodash 3.2.8

[2016-08-22 14:01] #124 closed

[2016-08-22 14:09] slestang commented on #124
@jdalton I have the same package versions (apart for node & lodash) and I have the bug.

I think it came from https://github.com/lodash/babel-plugin-lodash/blob/master/src/ModuleCache.js#L24 where the glob function always return an empty array.
The parameter is /home/silvere/prog/my_project/node_modules/lodash/**/

The glob package version is 7.0.5 and minimatch is 3.0.3.

I try to create a matrix

[2016-08-22 14:33] jdalton commented on #124
I tested with glob 7.0.5.

If you all could create a small repro that would rock.

[2016-08-22 14:54] alexanbj commented on #124
I'll give it a go after work tomorrow, if it hasn't fixed itself in the meantime.

[2016-08-22 16:34] slestang commented on #124
I re-did an
[code]
and the bug seems to have disappear.

I compare all package versions between the buggy node_modules and the new one and ... there are no difference ... I give up trying to understand.

[2016-08-23 06:21] DiscoNova commented on #124
Damn... had you done `npm prune` instead of `rm node_modules`, you would already know what leftover modules you had there hanging around ... now we might never know ;)

[2016-08-28 09:44] mbrevda opened #130 "Not pruning files"
After adding the plugin, I don't see that my lodash code is being reduced. It seems the full package is being included. This is what I have set in browserify:

[code]

and this is what [disc](https://github.com/hughsk/disc) is showing:

<img width="221" alt="screen shot 2016-08-28 at 12 35 40 pm" src="https://cloud.githubusercontent.com/assets/293004/18032838/0b4f6600-6d1c-11e6-89e5-d46924a531fc.p

[2016-08-28 15:54] jdalton commented on #130
Look to your real file output and not `disc`. If the real output is smaller then great. I also don't know how your using Lodash but I do know it's not a plugin issue on our side.

[2016-08-28 15:54] #130 closed

[2016-08-28 16:35] mbrevda commented on #130
Do you find disc to be inaccurate?

Either way, your correct - the plug in IS working.

I recently switched from underscore, which seemed to take a lot less space - so I'm still concerned about file size. Can you eyeball this list of files and see if matches the methods I'm including?

Methods:
[code]

Files:
[code]

[2016-08-28 17:03] jdalton commented on #130
You can always use [lodash-webpack-plugin](https://github.com/lodash/lodash-webpack-plugin). Webpack produces smaller bundles to boot.

[2016-08-28 18:18] jdalton commented on #130
It produces a bundle of 2.61 kB (minified+gzipped)

[2016-09-02 22:23] eldh opened #131 "Bundle becomes bigger when using plugin."
So, still not really sure what's going on here, but I'll try to give the best info I can.

Problem: My bundle becomes bigger, not smaller, when using  babel-plugin-lodash.

My webpack build produces two files: client.js and vendor.js (lodash is included in vendor.js).

client.js without plugin: 1 141 480 bytes unzipped, 249KB gzipped
client.js with plugin: 1 199 622 bytes unzipped, 312KB gzipped.

[2016-09-02 22:30] jdalton commented on #131
Hi @eldh!

Make sure the lodash plugin is loaded as babel plugin, `plugins: ['lodash']` and not a `preset.
You should make sure you're using "lodash": "^4.15.0", (^4) and avoid the chaining syntax.
Also be sure to use the Webpack optimization plugins for module order and minification.

If you have a sample repo or something that could help pin point the problem.

[2016-09-02 22:30] #131 closed

[2016-09-02 22:33] eldh commented on #131
Oh yeah, should have shared `.babelrc` too.

[code]

Using `"lodash": "^4.15.0",`.

[2016-09-02 22:34] eldh commented on #131
Sorry I can't share the repo, as it's a private app. :(

[2016-09-02 22:37] jdalton commented on #131
Can you share your `webpack.config.js` too and possibly the command you execute your build with?

[2016-09-02 22:44] jdalton commented on #131
The repeat requires won't be a problem and the size cut by `lodash-webpack-plugin` tends to eat any of the webpack scaffolding costs.

[2016-09-02 22:49] eldh commented on #131
Unfortunately the webpack setup is a bit complex, so hard to just copy/paste, but I'll try to post the gist of it.

[code]

[2016-09-02 22:50] eldh commented on #131
As you see, not using LodashWebpackPlugin here. The problem remained the same with that enabled. I'll post numbers in a minute.

[2016-09-02 22:55] eldh commented on #131
Actually, exactly same numbers when adding `new LodashWebpackPlugin()` to the plugins list, which is a bit surprising.

[2016-09-02 23:01] jdalton commented on #131
Ya that doesn't sound right. It should be a pretty dramatic drop by including it. By it's nature it removes a lot of extra functionality to keep bundles small.

The `lodash-webpack-plugin` works by rewriting Lodash module paths. So if for some reason `babel-lodash-plugin` isn't kicking in or is kicking in less than it should then the impact of `lodash-webpack-plugin` will be reduced (it can't rewi

[2016-09-02 23:05] jdalton commented on #131
For kicks add this to your `webpack.config.js` babel loader options:
[code]
also why are you defining the loader as `require.resolve('babel-loader')`. That makes me think it's a path resolving issue.

[2016-09-02 23:24] eldh commented on #131
Changing from `require.resolve('babel-loader')` to just `babel` did the trick! Had it in place to get some linked modules to work previously. Interesting that it would prevent the lodash plugin from kicking in. Thanks so much for the help, deeply appreciated!

[2016-09-02 23:24] eldh commented on #131
Final score: vendor.js 120KB, client.js 250KB.

[2016-09-02 23:27] jdalton commented on #131
Rock on :metal:!

Is that all gzipped? For size reporting I dig [gzip-size-cli](https://www.npmjs.com/package/gzip-size-cli) and [pretty-bytes-cli](https://www.npmjs.com/package/pretty-bytes-cli).
[code]

[2016-09-16 19:33] WalterWeidner opened #132 "Importing “each” actually brings “arrayEach”"
In our app we are using babel-plugin-lodash and lodash-webpack-plugin to only place specific lodash functions into our bundles when they are used inside bundle code.

One thing we have noticed is the each function always maps to the arrayEach implementation. This means that any calls that use each for objects are calling the wrong function and are not ran.

Is the configuration below incorrect? Is

[2016-09-16 19:36] jdalton commented on #132
You're using `lodash-webpack-plugin` which disables collection support by default.
Be sure to enable the "collections" [feature set](https://github.com/lodash/lodash-webpack-plugin#feature-sets).
[code]

[2016-09-16 19:36] #132 closed

[2016-09-16 19:37] WalterWeidner commented on #132
@jdalton thank you so much! I totally missed that in your readme.

[2016-10-08 13:52] foxhound87 opened #134 "Add ability to pick lodash function dynamically"
I need to call `some` or `every` dynamically using a string.
For example, currently in my code I do:

[code]

right now, if I do it I get:

`The 'lodash' method `$fn` is not a known module.`

[2016-10-08 14:35] jdalton commented on #134
Hi @foxhound87!

That sounds incredibly complex to work out in a solid way.

[2016-10-08 14:35] #134 closed

[2016-10-30 23:33] faceyspacey commented on #134
require them both and assign the functions statically as a variable and then choose which function to use.

[code]

[2016-11-25 18:20] zinserjan opened #148 "3.2.10 does no longer work on node 0.12.x"
I just noticed that node 0.12.x does no longer work with the latest version (3.2.10) due to `babel-preset-env `in https://github.com/lodash/babel-plugin-lodash/commit/edbdc00c97972eb601fa1073e18740e050ea349b#diff-e56633f72ecc521128b3db6586074d2c

See
[code]

[2016-11-26 05:49] #148 closed

[2016-11-26 08:26] zinserjan commented on #148
I think it's ok to drop support of node 0.12, but that's a breaking change and should result in a **major** instead of a patch.

Otherwise everybody have to set the version of `babel-plugin-lodash` to the latest working version (3.2.9) in their package.json when they still have builds with node 0.12....

[2016-11-29 10:22] elhigu commented on #148
I suppose we need to drop babel-plugin-lodash dependency from `knex` since we still support node 0.12.

[2016-11-29 15:38] jdalton commented on #148
Since 0.12 has such low IRL usage and just a few weeks left before it EOLs there's no point in me patching it. You can always pin your version of `babel-plugin-lodash` to before the change.

[2016-11-29 15:49] jdalton commented on #148
That said `babel-plugin-lodash` is usually a dev dependency, and is with knex, as a dev dependency it has no impact on your consumable package level support. So your consumable package can still support EOL'd versions of Node while the dev dependencies to build it raise their support bar.

[2016-12-01 20:06] ElliotChong opened #149 "The 'lodash' method `unionBy` is not a known module."
When attempting to use `unionBy` I'm receiving the following error:
```Module build failed: SyntaxError: The 'lodash' method `unionBy` is not a known module.```

Hopefully this isn't just a user mistake in configuration or something- will keep digging.

[2016-12-01 21:44] jdalton commented on #149
Hi @ElliotChong!

Make sure you're using Lodash v4+.

[2016-12-01 21:44] #149 closed

[2016-12-01 23:15] ElliotChong commented on #149
Thanks for the quick response @jdalton!

A version mismatch issue was my first debugging stop before filing an issue- Unfortunately I'm using `"lodash": "^4.17.2"` and `"babel-plugin-lodash": "^3.2.10"` which I believe are the latest on npm.

It's worth noting I've been using a slew of other `lodash` methods without issue and this only cropped up once I attempted to include `unionBy` in particular

[2016-12-01 23:21] jdalton commented on #149
@ElliotChong

I can repro the issue. This
[code]
produces:
[code]

[2016-12-07 10:08] JorgenEvens opened #150 "File included from lodash/fp if missing in lodash"
When a lodash method does not exist at the root of the `lodash` package, it will be imported from the `lodash/fp` directory if it exists there. I would expect it to throw an error as usual for non-existing methods.

**Example:**
[code]

Compiles to:
[code]

It seems that [this](https://github.com/lodash/babel-plugin-lodash/blob/3dc85918fb4c4be4a041c7ad1d9765afa1466b75/src/importModule.js#L12) line

[2016-12-07 16:11] jdalton commented on #150
I could fix this with hardcoded logic for `fp` but I'm making the plugin more library generic.
There's no way to know that `lib.xyz` doesn't originate from `lib/fp/xyz`. This will no longer be a problem with Lodash [v5](https://github.com/lodash/lodash/wiki/Roadmap) when we separate the `fp` mixin from the primary package.

[2016-12-07 16:11] #150 closed

[2016-12-15 11:25] dlindenkreuz opened #153 "Error when importing flow types"
When using the Flow type definitions for lodash from `flow-typed/npm`, webpack builds fail with the following error message:

[code]

findCountry.js:

[code]

NB: I use `babel-plugin-transform-flow-strip-types`.

[2016-12-15 16:25] jdalton commented on #153
What's `import type { Predicate } from "lodash"` about?

[2016-12-15 16:29] dlindenkreuz commented on #153
That statement imports the type definition from the community-maintained `flow-typed` repository, in particular from this file: https://github.com/flowtype/flow-typed/blob/master/definitions/npm/lodash_v4.x.x/flow_v0.28.x-/lodash_v4.x.x.js

[2016-12-15 16:32] jdalton commented on #153
It looks like it's coming from the "lodash" package though. How can I distinguish between the two?
(I'm not a flow type user so you'll have to walk me through it).

[2016-12-15 16:53] dlindenkreuz commented on #153
Lodash type definitions become implicitly available for the `lodash` module through the `declare module "lodash"` statement inside of the flow type declaration file.

This works automatically (without `import type { foo } from "lodash"` in the user's code) for lodash's own methods because the definitions are exported [here](https://github.com/flowtype/flow-typed/blob/master/definitions/npm/lodash_

[2016-12-15 18:08] jdalton commented on #153
I'll see if Babel makes a distinction in its AST. If not then you're out of luck.

[2016-12-16 01:10] #153 closed

[2016-12-21 16:45] jblock opened #154 "Potential Name Change?"
Hi! Got a...philosophical question for you? I think that's the right way to describe it:

I noticed that libraries like [`recompose`](https://github.com/acdlite/recompose#using-babel-lodash-plugin) and `ramda` work nicely with this plugin. Do you think it makes sense to explore changing the name of this utility to be a bit more generalized (rather than be centered around `lodash`)?

Feel free to s

[2016-12-21 17:51] jdalton commented on #154
Yep, that's [the plan](https://twitter.com/jdalton/statuses/756384733622173696).

Related #85, #122, #150

[2016-12-21 17:51] #154 closed

[2017-01-23 13:52] ngocketit commented on #119
Thanks @jdalton! That fixes the above error. However, I now get another one: `TypeError: Expected a function`. Following is the code:

[code]
What cloud I do wrong?

[2017-01-23 15:25] ngocketit commented on #119
No worry. I figured it out. It's because I'm using `lodash-webpack-plugin` and property shorthand is not available. Thanks!

[2017-01-23 17:55] jdalton commented on #119
@ngocketit it's not available by default. You can always enable the "shorthands" feature set though.

[2017-01-27 10:41] ngocketit opened #156 "Webpack 2, CommonsChunkPlugin results in bigger bundle size"
Hi,

I'm using this plugin with Webpack 2.2.0 and its `CommonsChunkPlugin` and notice that the bundle size gets bigger. Here is `.babelrc` config:

[code]

Webpack is configured to split vendor libs in a common chunk:

[code]

With the plugin, in the `vendors` common chunk, `lodash` takes about 530KB (unminified and uncompressed). At the same time, `lodash` also ends up in other chunks with about

[2017-01-27 14:39] jdalton commented on #156
Hi @ngocketit!

I'm not sure. I''ve not used the common chunk plugin before. Lodash should only every be a max of ~24kb minified+gzipped. If you're not seeing that then chances are you may be multiple versions included in your bundle.

[2017-01-27 14:39] #156 closed

[2017-02-05 11:34] andresgutgon opened #157 "Is this needed with Webpack 2 stable?"
## What?
Hi, first of all thank you for all your hard work. Is amazing all the effort you're putting on make lodash modular and produce smaller bundles.

I'm trying to understand Webpack 2 tree shaking. First my versions:
[code]

With those options I'm trying this code:
[code]

## Results
Look at yellow line. Vendor bundle
#### Picking map
![image](https://cloud.githubusercontent.com/assets/49499/

[2017-02-06 05:41] jdalton commented on #157
I don't know if it's still needed. It's easy enough for you to confirm it on your own though. Keep in mind your bundle reports are of the unminified ungzipped size.

[2017-02-06 05:41] #157 closed

[2017-02-06 07:21] andresgutgon commented on #157
If you ask me I would say no. According to my results. For that reason I wanted to ask.

Sorry, how this can affect the experiment? I mean, in both cases the bundle would be proportional smaller.

Btw in case someone want to check my code is here:
https://github.com/okonet/webpack-long-term-cache-demo/pull/7

Again thanks a lot for your work

[2017-03-09 22:05] stevenvachon commented on #83
I got this error with a global transform on a project that imports a file that had already been ran through Babel and Uglify.

[2017-03-14 12:59] wmertens commented on #157
@jdalton I just tested this with webpack 2 in my app:

* lodash plugin: total size 195k
* `lodash: "lodash-es"` in webpack resolve alias: total size 198.7k
* no plugin or alias: 195k

(sizes are before minification)

So it seems that the plugin is indeed not needed? I do use `import {foo} from 'lodash'` everywhere.

[2017-03-14 13:11] wmertens commented on #157
In fact, the size for lodash was smaller because some of my dependencies were loading lodash-es and it was added to the bundle as well. I get the smallest size by setting the alias `lodash: "lodash-es"` (198.7k). Setting `"lodash-es": "lodash"` gives 199.2k.

[2017-03-14 13:18] wmertens commented on #157
Oops 💩

I still had the plugin loading elsewhere :) Without the plugin, aliasing to lodash-es results in 608k, lodash in 693k. So the plugin is very much needed, but aliasing lodash to lodash-es seems like a good idea too.

[2017-03-17 03:42] rafde opened #158 "transform rest spread to lodash"
Example:
[code]

instead of the output looking like
[code]

it'll look like

[code]

If this isn't something that is good for this plugin, maybe some advice on how to make it a plugin?

[2017-03-17 06:56] jdalton commented on #158
Hi @rafde!

That's a bit out of scope of this plugin. I'm not really a pro at making plugins. I kind of just muck with stuff until it works or someone tells me I'm doing it wrong.

[2017-03-17 06:56] #158 closed

[2017-03-17 15:59] rafde commented on #158
Ah right, I guess I'll take a crack at it at some point.

[2017-03-18 04:29] zhaoyao91 opened #159 "make this a general babel-plugin"
Hi, I see this great package works not only with lodash, but also well with many other packages which export many sub modules like `recompose`, `semantic-ui-react`.
So, is there a plan to abstract this package for general cherry-pick purpose?

[2017-03-18 04:34] jdalton commented on #159
Yes, at some point.

[2017-03-18 04:34] #159 closed

[2017-03-20 16:54] ConAntonakos commented on #157
To be clear with tree shaking, can you perform the following syntax?:

[code]

Do you need the `babel-plugin-lodash`, and do you need `lodash-es`? Thanks!

[2017-03-20 17:00] jdalton commented on #157
You'll still need `babel-plugin-lodash` for `lodash` or `lodash-es`.

[2017-03-20 17:00] ConAntonakos commented on #157
Thanks, @jdalton!

[2017-03-31 09:32] 0x80 opened #160 "Making clear that this plugin can be used for other libraries as well"
I was surprised to find out from the [docs from recompose ](https://github.com/acdlite/recompose) that `babel-plugin-lodash` is not limited to Lodash at all.

[code]

This allows you to write `import { compose, mapProps, withState } from 'recompose'`.

Wouldn't it make sense to rename this plugin to something more generic to avoid confusion, or at least mention this use-case in the readme?

[2017-03-31 15:15] jdalton commented on #160
Dup of #159.

[2017-03-31 15:15] #160 closed

[2017-04-06 01:12] JeremyJonas opened #161 "The 'lodash' method `omitBy` is not a known module"
When attempting to use omitBy I'm receiving the following error:
Module build failed: SyntaxError: The 'lodash' method `omitBy` is not a known module.

Seems like a duplicate of [#149](https://github.com/lodash/babel-plugin-lodash/issues/149) which was closed but not resolved.

**lodash** version *4.17.4*
**babel-plugin-lodash** version *3.2.11*

[2017-04-06 02:33] jdalton commented on #161
I can't repro this issue. As with #149 make super sure you're using the latest Lodash:
[code]

[2017-04-06 02:33] #161 closed

[2017-04-26 14:24] sibelius commented on #85
any progress on this?

any docs of how to make it work with `recharts`, `material-ui` and other packages?

[2017-04-26 14:35] sibelius commented on #154
check this out: https://bitbucket.org/amctheatres/babel-transform-imports

[2017-04-26 16:16] jdalton commented on #85
The usage docs show how to specify another package.

[2017-05-03 08:54] teod opened #163 "Reverse functionality"
I know it's weird, but I actually require in the project I'm working on the exact opposite functionality,
I'm importing my lodash modules like:
[code]
And I want to have an output like:
[code]

I want to improve the incremental build time during the development process using webpack DLL plugin, and unfortunately webpack keeps adding the lodash module into the bundle if I'm cherry picking lodash fu

[2017-05-03 09:31] jdalton commented on #163
This seems like a webpack support question.
Have you tried asking on the webpack slack channel?

[2017-05-03 09:31] #163 closed

[2017-05-05 05:12] lukeapage commented on #92
@jdalton would you accept a pr to do this? We have a very large project and switching to fp now would be too large an effort.

[2017-05-05 05:27] jdalton commented on #92
@lukeapage

Heck yes!

[2017-05-05 17:03] mrtnbroder opened #164 "rename to `babel-plugin-bundle-optimizer`?"
I've seen this plugin [so](https://github.com/neoziro/recompact) [many](https://github.com/acdlite/recompose) times now (I was about to link more packages, but I can't find more atm, LOL! but I saw it at a lot of packages), being used as a bundle optimizer that it should consider being renamed, to make more people aware of this plugin, and that it can help library authors optimize their libraries.

[2017-05-05 17:05] jdalton commented on #164
Dup of #154.

[2017-05-05 17:05] #164 closed

[2017-05-10 09:10] grantCHG opened #165 "_.forOwn is not a function in template when use babel-plugin-lodash"
import _ from 'lodash';
_.template('<%\_.forOwn...%>')({ 'user': 'mustache' })

[2017-05-10 13:40] jdalton commented on #165
Yep. Inspecting strings isn't such a doable thing. You can pass [an imports option](https://lodash.com/docs/#template) to `_.template`.
[code]

[2017-05-10 13:40] #165 closed

[2017-05-10 16:46] tleunen opened #166 "Add support for index.js files"
Currently, if a project is structured using directories in which `index.js` is used, the pairs in the configuration will be `[ 'index', 'index' ]` which won't produce the right thing.
[code]
See https://github.com/lodash/babel-plugin-lodash/blob/master/src/ModuleCache.js#L31-L34

When `index.js` is used, it should be the directory name instead of the file name.

[2017-05-10 16:56] jdalton commented on #166
Are you up for creating a PR?

[2017-05-10 16:59] tleunen commented on #166
Sure! Will do later today.

[2017-05-10 19:39] bradennapier opened #167 "lodash stops working?"
as soon as I add this plugin lodash stops working - the function is called but always returns undefined for `_.get()`

My webpack config looks something like
[code]

[2017-05-10 19:44] bradennapier commented on #167
ahh - i also missed this in your docs until i read someone elses - might be worth making a STRONG note of that it is easy to miss when you are just following the examples to get something going and see if it is gonna do what is needed.

Thanks though, this is great!

[2017-05-10 19:44] #167 closed

[2017-05-10 21:56] tleunen commented on #166
Is it possible to test with a dummy local project instead of a node_modules project?

Because there a some edge cases, like it should use the directory name only if there's no file having the same name as its directory. And if it's the case, we can skip the index pair.

As an example, we should save the pair with the index in this case: https://github.com/callemall/material-ui/tree/master/src/Drop

[2017-05-10 22:12] jdalton commented on #166
Sure. Mock it up.

[2017-05-11 14:52] julien-f opened #168 "Issue with import and export of the same symbol"
https://github.com/julien-f/issue-babel-plugin-lodash-import-export

[2017-05-11 14:56] jdalton commented on #168
Nice find @julien-f!

Thank you for the repro too!

[2017-05-11 15:05] julien-f commented on #168
Least I could do :)

[2017-06-06 08:25] yangbin1994 opened #171 "The 'lodash' method `pickBy` is not a known module. Please report bugs to https://github.com/lodash/babel-plugin-lodash/issues."
up

[2017-06-06 08:51] AndrewGrachov commented on #83
Got this inside reactcss

[code]

helped

[2017-06-06 13:46] jdalton commented on #171
Hi @yangbin1994!

Make sure you're oh a version of Lodash that has [pickBy](https://lodash.com/docs/4.17.4#pickBy).

[2017-06-06 13:46] #171 closed

[2017-06-07 02:53] danny-andrews opened #172 "Document how import transformation works"
First off, thanks for the great plugin! It's made it really easy for us to reduce our bundle size without changing `import`s all over the place. However, I think the documentation should be expanded to give instructions on how to use it with libraries other than lodash. I realize there is a name-change [in the works](https://twitter.com/jdalton/statuses/756384733622173696), but it would be nice to

[2017-06-07 06:02] jdalton commented on #172
Hi @danny-andrews!

The plugin crawls the package looking for matching modules. It looks first in the folders of the `"main"` entry script and then in others. This is how it finds the `redux-form-material-ui/lib` folder.

[2017-06-07 06:02] #172 closed

[2017-06-07 06:02] jdalton commented on #172
Feel free to make a PR to add a note to the readme.

[2017-06-15 10:50] albertogasparin commented on #166
Adding support for directories would be great, as it is one of the reasons why `babel-plugin-lodash` is not able to make its magic with [date-fns](https://github.com/date-fns/date-fns)

[2017-06-15 10:57] albertogasparin opened #173 "Provide a default if pkg.main is missing"
I was trying to use `babel-plugin-lodash` with [date-fns](https://github.com/date-fns/date-fns), however the plugin breaks badly because `date-fns` `package.json` does not have a `main` attribute.

Looking a the code, [it already handles](https://github.com/lodash/babel-plugin-lodash/blob/master/src/ModuleCache.js#L20) the case where `package.json` is missing. So, I'd like to propose to extend the

[2017-06-15 13:59] jdalton commented on #173
👌 Would you be up for making a PR?

[2017-06-15 14:03] albertogasparin commented on #173
Sure, will do

[2017-06-15 17:26] #173 closed

[2017-06-16 13:50] albertogasparin commented on #166
I've decided to give this a go in #175. I've added tests for both `material-ui` and `date-fns` and it seems to work well (tested also on a private project).
With this change this plugin is even more generic!

[2017-06-19 14:56] jdalton commented on #166
Moved to #175.

[2017-06-19 14:56] #166 closed

[2017-06-25 18:56] zation opened #177 "_createPartial is mistook as _createWrap"
Please check this repo: https://github.com/zation/react-isomorphic-starter. Before I include babel-plugin-lodash and lodash-webpack-plugin, it works fine. After I include them, I get below error:

<img width="1033" alt="screen shot 2017-06-26 at 2 53 24 am" src="https://user-images.githubusercontent.com/1049425/27518798-a920ca36-5a1a-11e7-8aa8-0f7d9a936dcd.png">

You can reproduce it by command `n

[2017-06-25 21:52] jdalton commented on #177
Hi @zation!

The `lodash-webpack-plugin` many disables [feature sets](https://github.com/lodash/lodash-webpack-plugin#feature-sets) by default so you have to opt-in to ones you want. Look at the `currying` or `metadata` feature set.

[2017-06-25 21:52] #177 closed

[2017-06-26 11:42] zation commented on #177
Thanks! Fix it with `currying` option:

[code]

[2017-06-27 06:41] mherodev opened #178 "Bundle size increased with plugin?"
I added this plugin to the webpack client configuration for https://github.com/wellyshen/react-cool-starter and the bundle size increased. That... doesn't make sense, does it?

**Code:**
[code]

**Before:**
[code]

**After:**
[code]

I was expecting vendor to go down and nothing else to change, really.

Any insight is appreciated!

[2017-06-27 06:54] mherodev commented on #178
When using `lodash-webpack-plugin` (https://github.com/lodash/lodash-webpack-plugin) I was able to reduce the **After** bundle size down to 17kB, but that's still larger than the original bundle size of 13kB.

**After:**
[code]

For reference, this repository appears to be including lodash entirely but only using `merge`, `assign`, `uniqueId` and `keys`. So there should be plenty of lodash to remo

[2017-06-27 07:01] jdalton commented on #178
Hi @mherodev! You might try the webpack slack. Ping [TheLarkInn](https://github.com/TheLarkInn) via email for an invite. Or try their [gitter chat](https://gitter.im/webpack/webpack).

[2017-06-27 07:01] #178 closed

[2017-06-29 14:44] namjul opened #179 "Error with lodash/fp from jest"
Hi everybody,

today we had an Error `ReferenceError: /path/to/file.js: Container is falsy` with the following callstack
[code]
The location of the last call would be https://github.com/babel/babel/blob/6.x/packages/babel-traverse/src/path/replacement.js#L168

This happens after starting jest tests. Jest uses the .babelrc https://facebook.github.io/jest/docs/getting-started.html#using-babel

I cou

[2017-06-29 16:06] jdalton commented on #179
Hi @namjul, looks like a jest issue.

[2017-06-29 16:06] #179 closed

[2017-06-29 16:45] namjul commented on #179
thx for hint.

[2017-07-21 22:49] ckknight opened #180 "import { type T } from 'non-lodash'"
Although I can't seem to reproduce this with the `lodash` module, it affects others. I suspect that has to do with the differentiation between `pkgStore`s where `.isLodash()` is used to differentiate.

Using the following `.babelrc`
[code]

[code]

Throws the following error:
```SyntaxError: The 'recompose' method `HOC` is not a known module.```

A workaround
[code]
works as expected, but has the

[2017-07-22 00:20] jdalton commented on #180
Is that typing TypeScript or Flow?

[2017-07-23 17:46] casesandberg opened #181 "`uniqBy` not a known module"
babel-plugin-lodash@3.2.11
lodash@4.17.4

[code]

Reproduce:
[code]

[2017-07-24 03:25] jdalton commented on #181
Hi @casesandberg!

Can you double check that the version of Lodash it's transforming is v4.17.4. It detects method names by the actual files in the package so a misfire per the correct version is unlikely.

[2017-07-24 03:25] #181 closed

[2017-08-03 15:05] danny-andrews commented on #114
Has this been added yet? I don't see it in 3706667. I'd be happy to take a stab at it.

For reference, my use-case is that I want to use the es6 build of [recharts](https://github.com/recharts/recharts) because it allows me to to take advantage of tree-shaking in webpack.

[2017-08-05 17:09] kmvan opened #182 "Method "_.get" returns undefined sometimes."
[code]
Something wrong with my code?

[2017-08-05 17:24] jdalton commented on #182
You're probably using this plugin with lodash-webpack-plugin and need to enable a feature set.

[2017-08-05 17:24] #182 closed

[2017-08-05 17:39] kmvan commented on #182
Thank you man.
And which feature set?

[2017-08-05 17:57] jdalton commented on #182
You most likely need to enable the `"paths"` feature set.

[2017-08-06 02:07] kmvan commented on #182
Got it. https://github.com/lodash/lodash-webpack-plugin#feature-sets

[2017-08-08 18:44] ckknight commented on #180
Flow

[2017-08-08 21:28] danny-andrews opened #183 "Breaks with `yarn link`ed dependencies"
package.json:
[code]

import-and-use-linked-dep.js:
[code]

After some digging, it appears that `Module._resolvefilename` does not resolve modules which have been `yarn link`ed: https://github.com/lodash/babel-plugin-lodash/blob/master/src/ModuleCache.js#L41.

[2017-08-08 21:38] danny-andrews commented on #183
Nvm, I just had main pointed to a file that didn't exist. Sorry for the noise.

[2017-08-08 21:38] #183 closed

[2017-08-08 22:18] danny-andrews opened #184 "Breaks when using "cwd" and "id""
This plugin gives `TypeError: src/components/PasswordReset/PasswordReset.jsx: Cannot read property 'forEach' of undefined` when using `cwd` and `id`.
Example:
[code]

After doing some digging, it appears [this commit](https://github.com/lodash/babel-plugin-lodash/commit/4ecf13326a34270131b5e4322bf4857400e92f7e) caused the regression.

This is because the first time we call `config` is [here](https

[2017-08-08 22:35] danny-andrews commented on #184
P.S. You can reproduce this error by changing: `'plugins': [[plugin, { 'id': lodashId }]]` to `'plugins': [[plugin, { 'id': lodashId, 'cwd': './' }]]` [here](https://github.com/lodash/babel-plugin-lodash/blob/master/test/index.js#L32).

[2017-08-16 18:51] niftylettuce opened #188 "TypeError: Cannot read property 'name' of undefined"
I believe this is related to #168.

Input:

`src/config/utilities.js`:

[code]

Output:

[code]

[2017-08-16 19:22] Retsam commented on #188
I'm seeing a very similar error when using this plugin in conjunction with `babel-plugin-espower` and `babel-plugin-transform-es2015-spread`.  I boiled this down to as minimal an example as I could:

I'm transpiling this code:

[code]

With this `.babelrc`:

[code]

[code]

It compiles fine if I remove any of the three plugins, or if I move the `lodash` plugin before `espower`.  (Not a viable solu

[2017-08-17 14:28] kachkaev commented on #178
Hey @mherodev! Were you able to overcome your issue? Looks like I'm also getting the entire lodash as well as individual modules in a fork of `create-react-app`.

Part of `webpack.config.prod.js`:
[code]
A sub-output from `source-map-explorer`:
![screenshot from 2017-08-17 15-26-06](https://user-images.githubusercontent.com/608862/29417266-85a2e66a-8360-11e7-8861-71054eef6be5.png)
(both `lodash.js

[2017-08-17 14:43] jdalton commented on #188
Thanks for the added info. I'll mark this as a dup of #168.

[2017-08-17 14:43] #188 closed

[2017-08-31 11:41] egeriis opened #189 "How are methods available determined?"
Hey there!

When I installed your lib I was met with a bunch of these:

`Module build failed: SyntaxError: The 'lodash' method `assign` is not a known module.`

Odd, I thought. I have now looked for each of the issues mentioning this error, and it is probably due to some legacy in the app I'm working with, that I get these errors.

But could you help me understand how it is determined which method

[2017-08-31 13:20] egeriis commented on #189
It could appear that lodash v2 is not supported?

[2017-08-31 13:51] jdalton commented on #189
Hi @egeriis!

`babel-plugin-lodash` crawls the package and looks for modules of a similar name.
Lodash v4 is not modular so it won't find any.

[2017-08-31 13:51] #189 closed

[2017-08-31 14:02] egeriis commented on #189
I suppose you mean Lodash v2?

[2017-08-31 14:04] jdalton commented on #189
Yep :P

[2017-09-26 00:16] knpwrs opened #190 "Publish fix for missing main field."
When I tried to use this module with [`uuid`](http://npm.im/uuid) I ran into an issue where `uuid` does not have a `main` field in its `package.json`. Looking at the commit history of this project it looks like the fix for this issue was pushed back in June but the fix was never published to npm. Just to confirm the fix works I tried using this repo in place of the version hosted on npm and it app

[2017-09-26 00:25] jdalton commented on #190
Ah nice! Glad to hear it fixed your problem.

I'm not in a hurry to bump another release. It will surely be updated before Lodash v5 lands.

[2017-09-26 00:25] #190 closed

[2017-10-06 07:05] fumblehool commented on #178
@mherodev @kachkaev @jdalton I'm facing the same issue. How can I solve this issue?

[2017-10-16 08:04] DaPo commented on #168
Hello,

I think I may have kind of the same issue here.

Do you have any clue on how can I fix it?

Thank you very much for your time.

[2017-10-16 15:39] vlad-zhukov opened #193 "Doesn't work in v7.0.0-beta.3 due to a breaking change"
Ref: [beta.3 removed .metadata properties](https://github.com/babel/babel/pull/6343).

[2017-10-16 16:21] jdalton commented on #193
Hi vald!

Are you up for doing a PR to fix it?

[2017-10-16 17:21] vlad-zhukov commented on #193
Sorry, I don't have time right now to dig how it all works and what would be a fix for that.

[2017-10-20 16:51] #193 closed

[2017-11-05 04:02] TrejGun opened #196 "babel 7.beta31"
[code]

[2017-11-05 04:03] jdalton commented on #196
Fixed by #194. Just need to review and bump.

[2017-11-05 04:03] #196 closed

[2017-11-05 04:06] TrejGun commented on #196
thanks

[2017-11-05 11:52] johnunclesam opened #197 "Using with create-react-app without ejecting."
Is there a way I can use it with "create-react-app" without ejecting?

I'm using "semantic-ui-react" and in my production bundle I have full lodash package.

[2017-11-05 12:06] jdalton commented on #197
Hi @johnunclesam!

I've not worked with `create-react-app` so I can't help you there.

[2017-11-05 12:06] #197 closed

[2017-11-06 17:39] CentaurWarchief commented on #196
@jdalton any chance of republishing?

[2017-11-07 16:01] arshtepe opened #198 "Doest it work with require ?"
If i use es6 "import" it works, but if i use "require" for include lodash i get whole lodash

[code]

[2017-11-07 17:05] jdalton commented on #198
It's Yes, it's for esm only.

[2017-11-12 08:48] jdalton commented on #196
v3.3.0 has been published 🎉

[2017-11-12 12:20] medanat opened #199 "Running into "Cannot find module 'babel-helper-module-imports'" on 3.3"
I believe the cause is marking "babel-helper-module-imports" as a devDependency when it's being called in "src/importModule.js"

[2017-11-12 17:37] jdalton commented on #199
Moved to #200.

[2017-11-12 17:37] #199 closed

[2017-11-12 17:55] PengyuanZhao opened #201 "Cannot find module 'lodash-compat'"
When I upgraded to the newest version 3.3.1, I got the error `Cannot find module 'lodash-compat'`. Any idea?

[2017-11-12 17:59] jdalton commented on #201
The `lodash-compat` dep isn't used in the source of the project so I'm not sure where that's coming from. I can't repro the issue.

[2017-11-12 17:59] #201 closed

[2017-11-12 19:06] rileylnapier commented on #201
i get this with node version 7.  i don't get it with node 6

![image](https://user-images.githubusercontent.com/7017640/32702277-8f69eec8-c799-11e7-824b-7d1a7a6025ce.png)

[2017-11-12 19:15] specialkk commented on #201
I'm getting a similar and probably related issue with `lodash-es`. I believe it was fine before because the require call was wrapped in a try/catch but that was removed in 421468b. My Webpack setup is trying to include it even though it's a dev dependency and not actually needed.

[2017-11-12 19:45] neoziro opened #202 "Using v3.3.x with a custom id is not possible"
Hello,

The commit 421468be621548b02601620393f39a57c54b344d broke the package. I explain:

- mapping.js is loaded by index.js
- mapping.js calls config()
- config iterates on default ids
- it tries to resolve lodash-compat
- lodash-compat is not found
- an error is thrown

It happens when we load index.js. I think reverting this commit is the best thing to do.

Thanks for this great package!

Also

[2017-11-12 19:50] jdalton commented on #202
Thanks for spotting the commit! Yep, I'll revert it, bump a patch release, then review the problem commit for a later release.

[2017-11-12 19:55] jdalton commented on #202
Reverted https://github.com/lodash/babel-plugin-lodash/commit/1911ac755ba02b77e47f31bf4261286f8ef51985.

[2017-11-12 19:57] neoziro commented on #202
@jdalton thanks!

[2017-11-12 19:58] #202 closed

[2017-11-12 19:59] jdalton commented on #202
v3.3.2 is published :tada:

[2017-11-12 20:10] navarroaxel opened #203 "Cannot find module 'lodash-es' error when I upgrade to `3.3.1`"
After upgrade from version `3.2.11` to `3.3.1` I'm getting the following error when I bundle my javascript with `webpack`:

[code]
The `lodash-es` is a `devDependency` of this package and is not installed using the `npm install`.

[2017-11-12 20:11] jdalton commented on #203
Hi @navarroaxel!

The issue should be resolved with v3.3.2.

[2017-11-12 20:11] #203 closed

[2017-12-05 10:26] schuma7 commented on #83
We're using next.js and noticed that this issue only occurred when npm install was invoked in production mode. The issue seems to be caused due to the way next.js handles transpilation. The solution was to move the babel-plugin-lodash from devDependencies to dependencies.

[2017-12-11 09:55] bnjmnt4n commented on #178
Looking at it, this is probably due to a dependency using lodash with `require`, which is not transformed by the plugin, while your project code `import`s lodash and will be cherry-picked. Hence both the full lodash file and the individual cherry-picked files will be included. I don't think there's an easy way to fix this to just use individual cherry-picked files.

[2017-12-26 11:40] exarus commented on #157
@jdalton So I want to get small builds of project with `lodash`, `Babel` and `Webpack 3`.

1)  is it sufficient to use lodash like this:
[code]

2) Or it is OK to use lodash like this:
[code]

3) Or should I better use combo of these: `lodash-es`, `babel-plugin-lodash`, `lodash-webpack-plugin`.

[2018-02-05 17:05] graingert opened #207 "strange interaction with babel-plugin-istanbul"
https://github.com/istanbuljs/babel-plugin-istanbul/issues/116#issuecomment-347431770

[2018-02-07 10:38] DonCallisto commented on #124
@DiscoNova I have the same issue, maybe I can provide more informations?
Let me know.

[2018-02-20 17:20] deadcoder0904 opened #209 "Not reducing bundle size"
I've made a [repo](https://github.com/deadcoder0904/webpack-exam) demonstrating my problem.

It has `dist/vendor.min.js` which is generated using this plugin & gives a size of `30.1 kB gzip` while I am not using a lot of JavaScript.

The expected bundle size must be around `5 kB gzip` but for me its a lot.

Anything that I've done wrong because I exactly followed the steps mentioned here ❓

[2018-02-21 08:33] deadcoder0904 commented on #209
Ok so quick update. `develop` branch on that repo has 1 change that made it reduce to `4 kB` & `585 B gzip` & the change that I've made is I've removed `CommonChunksPlugin`.

Is it possible to get it to work with `CommonChunksPlugin` & stripping off everything else ❓

[2018-02-21 09:27] jdalton commented on #209
Hi @deadcoder0904!

I'm not sure. I'm not familiar with how `CommonChunksPlugin` interacts with others.

[2018-02-21 09:39] deadcoder0904 commented on #209
Cool no problem

[2018-02-21 13:57] deadcoder0904 commented on #209
Hey I solved it. Adding `minChunks` property & removing `entry.vendor` did the job 🎉

Solution in the repo https://github.com/deadcoder0904/webpack-exam

[2018-02-21 13:57] #209 closed

[2018-03-05 08:35] LandonSchropp opened #210 "Updated release"
It would be awesome to see a release of this package. I'm chomping at the bit to use the chain syntax merged in #176. 😃

[2018-03-11 01:02] dlebedynskyi commented on #180
I have similar issue with babel@^7-beta.40
1.
[code]
causes
[code]
2.
with
[code]
pp/agree/containers/Agree.jsx: The 'recompose' method `HOC` is not a known module.
Please report bugs to https://github.com/lodash/babel-plugin-lodash/issues.
[code]
const presets = [
    // bread and butter
    [
      require('@babel/preset-env').default,
      {
        shippedProposals: true,
        loose: true,

[2018-03-28 13:19] panuchka commented on #210
Eagerly waiting for the npm package too! Why isn't it published yet? 🤔

[2018-03-28 14:04] marcofugaro opened #214 "Is this plugin unnecessary if using webpack4?"
With webpack4 if a library the flag `sideEffects: false` in its package.json, you're able to truly tree-shake the bundle.

Lodash [added it last december](https://github.com/lodash/lodash/pull/3533), so is this plugin unnecessary if using webpack4?

[2018-03-28 14:51] jdalton commented on #214
Hi @marcofugaro!

Give it a try and report back 😋

[2018-03-28 14:51] #214 closed

[2018-04-03 12:10] panuchka commented on #210
Could we have any ETA on the 3.3.3. release? In package.json it says 3.3.3-pre, so is something still unfinished or untested? If so, could we have the plugin published with the pre/next tag so it would at least be available right now?

Would really need this asap or at least a time estimate, since have to make decisions on ditching&rewriting all the chains or to use this plugin...

[2018-04-05 19:16] jdalton commented on #207
Thanks for the heads up!

If you root cause anything don't hesitant to ping back. If the issue is on us we'll make it right.

[2018-04-05 19:16] #207 closed

[2018-04-10 13:46] sanniassin commented on #210
I've built current `master` branch as a temporary workaround until `3.3.3` is released.

`npm install --save-dev https://github.com/sanniassin/babel-plugin-lodash/archive/3.3.3-pre.tar.gz`

[2018-04-17 22:44] jeremejevs opened #215 "Poor typing handling"
The following TypeScript code ...

[code]

... results in `The 'lodash' method 'TemplateExecutor' is not a known module`, in both `3.3.2` and the current master, `3.3.3-pre`.

### Research

Both `@babel/plugin-transform-flow-strip-types` and `@babel/plugin-transform-typescript` remove the typing imports in `visitor.ImportDeclaration`, as seen [here](https://github.com/babel/babel/blob/5166eef103fd

[2018-04-17 22:47] jdalton commented on #215
Hi @jeremejevs!

If you're up for a PR that would be great. You could also just use `lodash-es` with webpack 4 to get cherry-picking without `babel-plugin-lodash`.

[2018-04-17 22:47] #215 closed

[2018-04-17 22:57] jeremejevs commented on #215
Hi @jdalton!

Thanks for the suggestion, but I can't do that because I want to use `lodash/fp`, and I need the `TemplateExecutor` type, which currently isn't exported by `@types/lodash-es` (though fixable). I also enjoy using `lodash-webpack-plugin`.

And why close this issue? Isn't this a bug? Same as #180, which isn't really an enhancement, but actually a bug too.

[2018-04-17 23:32] jdalton commented on #215
Seems more like an enhancement. I'll designate this a dup of #180.

[2018-04-19 08:34] yamsellem commented on #214
Modular lodash is a really good initiative, but, with the release of webpack 4, I've having a hard time figuring what is the proper way to bundle an app without getting all lodash imports bundled in.

May you please consider adding a note (somewhere?) to detail what are your current recommandations?

Thanks a lot.

[2018-04-20 18:15] jamesloewen opened #216 "Not recognizing default parameters"
[code]

When running this in certain environments (specifically jest with --coverage flag), this code sample result in `TypeError: Cannot read property 'noop' of undefined`

This started happening when I added this plugin

[2018-04-20 18:19] jdalton commented on #216
Hi @jamesloewen!

Would you be up for creating a PR?

[2018-04-23 03:15] xiaoyuhen opened #217 "Not work on importing single function with typescript"
babelrc
[code]

function.ts
[code]

tslint will tell me ```@types/lodash/debounce"' has no default export.```

[2018-04-23 03:29] jdalton commented on #217
Hi @xiaoyuhen!

We don't maintain the TS definitions.

[2018-04-23 03:29] #217 closed

[2018-04-28 20:54] jamesloewen commented on #216
Well, I tried reproducing this in the test environment here and couldn't immediately find out how to reproduce.  I'll take another chance when I have he chance at the office when I have access to the repo I first encountered it in. For reference if others want to try to reproduce, this is the babelrc in use at the time.

Issue only comes up when running jest with coverage turned on. (Something som

[2018-05-04 03:30] 15312355627 opened #218 "Module build failed: SyntaxError: The 'lodash' method `pairs` is not a known module."
import {pairs} from "lodash";

[2018-05-04 04:06] 15312355627 commented on #218
ps:  Is the pairs module lodash,or the source code is wrong?

[2018-05-04 05:16] jdalton commented on #218
Hi @15312355627!

Please make sure your lodash version has `pairs`.

[2018-05-04 05:16] #218 closed

[2018-05-29 22:01] hipstersmoothie commented on #210
@jdalton This is honestly ridiculous. The initial PR was opened over a year ago. At least release an alpha so we can test it for you. It's getting awfully close to 2019 in "babel-plugin-lodash"-time.

[2018-05-29 22:05] hipstersmoothie commented on #210
The issue was initially opened Jul 13, 2016. So we are even closing in on 2 years of this being an issue.

[2018-05-29 22:06] jdalton commented on #210
Hi @hipstersmoothie!

I'm glad you're excited about the PR. I'm not carrying over chaining syntax into Lodash v5 so I've been dragging my feet on this specific enhancement. I think it's better that I just revert the addition and close this issue. Thanks!

[2018-05-29 22:06] #210 closed

[2018-05-29 22:08] hipstersmoothie opened #219 "Moving to Underscore"
Thanks for being a great open source maintainer. We'll have fun moving to underscore!

[2018-05-29 22:09] #219 closed

[2018-05-29 22:10] jdalton commented on #219
Hi @hipstersmoothie!

The ecosystem is vast and developers have varying tastes. If you dig Underscore that's great!

[2018-06-06 13:35] octaharon opened #220 "publish 3.3.3 to npm"
Hey man, that's a great package, too bad I can't use it, as previous (3.3.2) version brings in Babel 6 still. Would you consider publishing the Babel 7 version to npm, it's been 7 months already :)

[2018-06-06 15:21] jdalton commented on #220
Published https://github.com/lodash/babel-plugin-lodash/commit/88f4943193f26190abc2c6379ebe927ab4735360 :tada:

[2018-06-06 15:21] #220 closed

[2018-06-23 00:10] niftylettuce opened #221 "Doesn't seem to be working with babel@7.x"
Here's my `.babelrc`:

[code]

Here's an example file:

[code]

I'd expect it to be like this after running through with babel, but it's not:

[code]

Any idea why?  I'm on babel 7x. and all my packages use `@babel/xyz` org.

[2018-06-23 00:21] jdalton commented on #221
Hi @niftylettuce!

This plugin transforms ES6 import syntax. See [the usage example](https://github.com/lodash/babel-plugin-lodash#example).

[2018-06-23 00:21] #221 closed

[2018-06-23 00:29] niftylettuce commented on #221
Ah, thanks @jdalton didn't know it was specific for ES.  I'm not sure if you know of an alternative for `require` other than just doing it manual?

[2018-06-23 00:32] jdalton commented on #221
There may be a transform out there on npmjs.com.

[2018-06-23 00:37] niftylettuce commented on #221
I wasn't able to find one - is it not easy to add support for it in this package?

[2018-06-23 00:41] jdalton commented on #221
I had better luck: [lebab](https://www.npmjs.com/package/lebab), [replace-require-with-import](https://www.npmjs.com/package/replace-require-with-import), [require-to-import](https://www.npmjs.com/package/require-to-import),

[2018-06-23 00:42] jdalton commented on #221
I've used `lebab` before :D

[2018-06-24 01:18] niftylettuce commented on #221
I was trying to find something that simply just worked for `require` without having to transform to `import` 😢

[2018-09-24 19:37] yairEO opened #223 "Explain in README what's options.id for"
I don't understand the README...

### First you give the example:

    "plugins": ["lodash"]

### Then

    "plugins": [["lodash", { "id": "lodash-compat", "cwd": "some/path" }]]

Without explaining what is the purpose of this mysterious code and why/when would I need to give `id`

[2018-09-24 20:23] jdalton commented on #223
Hi @yairEO!

The `id` can be used to make `babel-plugin-lodash` work with other lodash-like packages. In the example it is using `lodash-compat`.

[2018-09-24 20:23] #223 closed, assigned to nobody

[2018-09-24 20:25] yairEO commented on #223
Hi, thanks for replying so quickly.

I am unable to import lodash template..
https://github.com/rollup/rollup/issues/691

[2018-09-24 20:36] jdalton commented on #223
Try
[code]

[2018-10-16 14:29] dan-kez opened #224 "Check for package key `module` in addition to main"
Hi all!

It would be fantastic to have the ability to configure what "mainFields" to resolve similar to webpack.

Right now I have a main field that points to `lib/index.js`. The lib directory is used when I publish to npm. However, internal to my monorepo I transpile my node_modules by using the `module` key in `package.json`. The key points to `src/index.js`.

The code in question is here: https

[2018-10-16 14:36] jdalton commented on #224
Hi @dan-kez!

Thanks for the suggestion. I'm open to a PR if you'd like to contribute!

[2018-10-16 15:30] dan-kez commented on #224
Awesome! I'll take a look this week and write something up

[2018-10-17 00:50] mbfisher opened #225 "Babel 7 support"
Hi! It looks like the work has been done to support Babel 7 - do you know when you'll release it?

[2018-10-17 01:16] jdalton commented on #225
The plugin should already be compatible with Babel 7. The commit in master is for using Babel 7 for tests.

[2018-11-12 15:51] RIP21 opened #226 "Issues while using with Babel 7 and Typescript plugin"
If you import some Types from `lodash` like that.
`import { orderBy, Dictionary } from 'lodash'`

`babel-plugin-lodash` throws an error.
[code]
Will be nice to handle somehow exported Types.
Or just stripe them away, since they are not affecting compilation of `babel-typescript-plugin` since he doesn't care about types etc. He just outputs the JS code not looking at `tsconfig.json` or whatever.
Or

[2018-11-12 16:14] jdalton commented on #226
Hi @RIP21!

We translate the example import clause into `var Dictionary = require('lodash/Dictionary')`. If I recall there should be another way to import types other than the ESM syntax. If there is you should use the alternative syntax to import types.

[2018-11-12 16:14] #226 closed, assigned to nobody

[2018-11-12 16:49] RIP21 commented on #226
That would be nice to have an example TBH :/ Because I think I will be not the last person to ask such a question.
I wasn't able to find an answer tho.

[2018-11-12 18:39] RIP21 commented on #226
I assume this syntax should work.
[code]

[2018-11-15 11:11] piotrwitek commented on #180
I have related issue with TypeScript:
[code]

[code]

[2018-12-17 15:40] jonjamz commented on #225
When I install this I'm getting `@3.3.4` but the dependencies are for babel `^7.0.0-beta.49` which is causing an error about version mismatch in .babelrc. Looks like there is a discrepancy between the package.json in this repo and the one published on NPM.

Edit: Ok I see the version tagged `3.3.4` indeed has the beta dependency whereas the current master is listed as `3.3.4` but has `7.0.0`.

[2018-12-17 16:03] #225 closed, assigned to nobody

[2018-12-26 04:28] keyiis opened #227 "Error: Couldn't find preset "@babel/env" relative to directory"
After used babel-plugin-lodash,i get below error
[code]
webpack.config.js
[code]

[2018-12-27 04:14] jdalton commented on #227
Hi @keyiis!

I'm not sure this is related to babel-plugin-lodash.
Please let me know when you resolve the issue though.

[2018-12-27 04:14] #227 closed, assigned to nobody

[2019-01-25 08:49] sarod commented on #180
I have a similar issue with typescript and
```import { Cancelable } from 'lodash';```

Is there a way to configure a set of modules for which errors should be ignored?

[2019-01-29 22:08] bradennapier commented on #83
When doing `NODE_ENV="production" npm install` it will only install `dependencies` so you are missing your `devDependencies` - FYI to anyone that comes across this - thought I'd just provide the reason.

[2019-02-15 01:37] dfoverdx commented on #124
I ran into this issue.  It looks like the compiled code is using `lodash_1.default.has` (or whatever member function) rather than `lodash_1.has`.  Changing my import from `import _ from 'lodash';` to `import * as _ from 'lodash';` seemed to help.  I'm still running into an error, but haven't figured out if it's related to lodash or not.

[2019-03-13 19:23] knpwrs commented on #180
For anyone searching for a workaround I'm currently using this plugin: https://www.npmjs.com/package/babel-plugin-transform-imports

I'm able to `import { Dictionary } from 'lodash'` with no errors.

[2019-04-11 05:01] sourabhdebnath opened #228 "Bundle size not reduced when I make a production build"
When I try in development, the bundle analyzer shows a reduction of **200kB**. However, when I make a build for production, it does not seem to kick in and the bundle size is not reduced at all.

*webpack.config.js*

[code]

*.babelrc*
[code]

Any help would be appreciated! Thanks.

[2019-04-12 01:15] dongseok0 opened #229 "Lazy evaluation not working for fp.flow"
Hi,

It seems lazy evaluation is not working when I use babel-plugin-lodash and lodash-webpack-plugin.
For example,
[code]

It results with plugin ( lazy evaluation not working )
[code]

But lazy evaluation is working well without plugins.
[code]

Here's plugin configuration
[code]

[2019-04-12 01:55] dongseok0 commented on #229
Ah.. it seems fp lazy evaluation is working as `chain` internally. Which means not supported by plugins.
If it's correct, close the issue please!

[2019-04-15 05:22] jdalton commented on #228
Hi @Sourabh-!

I'm not sure. You might try babel or webpack support channels.

[2019-04-15 05:22] #228 closed, assigned to nobody

[2019-04-15 05:22] jdalton commented on #229
That's correct @dongseok0!

[2019-04-15 05:22] #229 closed, assigned to nobody

[2019-04-18 13:55] WalterWeidner commented on #188
I ran into this today and it turns out it was because I was using "env" for my test environment. I had the "lodash" plugin enabled for my normal build but not for tests.

For example:
[code]

[2019-05-25 12:43] ghost opened #230 "cccccckiekunkdevvibtrjecnjlngvkhvhdvdbkgcgbg"

[2019-05-25 13:01] #230 closed, assigned to nobody

[2019-06-10 07:16] phatpt8 commented on #180
Hi,
I appreciate if anyone tells me this issue status. Is it solved?

[2019-06-12 15:23] guanpu opened #231 "'unionBy' do not accept property name as iteratee"
lodash version: **4.17.11**
babel-plugin-lodash version: **^3.3.4**

the code below works fine when import complete lodash

[code]

but after using this plugin, and change code to:

[code]

it reports error:

[code]

I have to change the code to

[code]

to make it work.

I suppose it is related with the method of 'property' which have been tree-shaked by webpack in the second case. If it is still

[2019-06-12 16:56] jdalton commented on #231
Are you using lodash-webpack-plugin?

[2019-06-12 23:15] guanpu commented on #231
Yes, and the version I use is "^0.11.5"

[2019-06-13 12:46] jdalton commented on #231
You need to enable iteratee sorthands feature set in `lodash-webpack-plugin`. It is expensive in terms of kB though so you might just drop the short hand for an explicit function `(o) => o.id`.

[2019-06-13 12:46] #231 closed, assigned to nobody

[2019-10-21 13:49] frankstallone opened #232 "Plugin adds weight to project"
I am running into an issue where it appears `babel-lodash-plugin` is doing something odd. At the moment I describe it as, it is now bundling all of lodash _and_ just the methods being used. I am having a hard time figuring out if this is an issue with my dependencies or not, maybe someone can help.

I am going to share three screenshots for the purpose of argument. These are from `webpack-bundle-a

[2019-11-17 15:48] rpivo commented on #232
Seems like this article from March 2019 describes a similar situation: https://www.azavea.com/blog/2019/03/07/lessons-on-tree-shaking-lodash/

Really wanting to give **babel-lodash-plugin** and **lodash-webpack-plugin** a try, but hoping I don't run into this issue 😬.

(**edit**: Was able to get **babel-lodash-plugin** working on my end. Shaved off about 0.3mb off my build files.)

[2019-11-18 13:20] frankstallone commented on #232
It is very possible this advice is what I needed:

"Tree-shaking is syntax-sensitive. To enable tree-shaking in lodash, you have to import functions using syntax like import foo from `'lodash/foo'`. `import { foo } from 'lodash'` will not tree-shake..."

This ball is still in the air for me. I'll revisit that branch again soon. Glad you got it working on your project.

[2019-11-18 14:11] #232 closed, assigned to nobody

[2019-11-18 14:14] frankstallone commented on #232
Thanks @jdalton? I don't see a solution here per say but okay.

[2019-11-18 16:05] ilya-pyatin commented on #216
Hi, I'm facing the same issue. I was able to create a minimum playground that reproduces this issue:

**package.json**
[code]
**.babelrc**
[code]
**src/filter.js**
[code]
**src/filter.test.js**
[code]

When I run `npm run test:coverage` I get the "TypeError: Cannot read property 'filter' of undefined". (Everything is fine with `npm run test`).

And if I remove the usage of the plugin the issue dis

[2020-01-04 04:12] usman-subhani opened #235 "Lodash is set to undefined in build if its loaded onto a local 'this'"
Issue occurs in this situation
[code]

[2020-01-07 00:06] jdalton commented on #235
Hi @usman-subhani!

Can you post what the transpiled code looks like?

[2020-01-07 10:23] usman-subhani commented on #235
Hey @jdalton, sure. This is the transpiled code with the plugin
[code]

and this is the code after removing the plugin

[code]
This is the .babelrc config

[code]

I have v3.3.4 of babel-plugin lodash

[2020-03-16 10:09] IgorLesnevskiy commented on #124
I had the same problem, but in my case I solved it by renaming my working directory from `/myProject[v1]` to `myProject_v1`. It looks like the `[]` symbols are forbidden when you use `glob`.

[2020-04-16 10:41] krystian50 opened #236 "Bundle contains many lodash functions"
## Why the build size is so large?
Working example: https://github.com/krystian50/babel-plugin-lodash-issue
The only lodash related code is:
[code]
Plugin is added through `.babelrc`

Without babel-plugin-lodash build looks like:
![Screenshot 2020-04-16 at 12 39 27](https://user-images.githubusercontent.com/19366440/79446922-593fa800-7fdf-11ea-895c-6fb53941e275.png)

With plugin:
![Screenshot 2020

[2020-04-22 23:06] hingermayank commented on #236
@krystian50 hi, any luck?

Happening the same for me. I just used one function but the bundle had too many functions.

<img width="1225" alt="Screenshot 2020-04-23 at 4 15 51 AM" src="https://user-images.githubusercontent.com/6342096/80041528-4fa3cc00-851a-11ea-8ae3-9f481a91a8ae.png">

[2020-04-29 06:55] johnny-b-good commented on #236
We use Semantic UI React that depends on this plugin to strip unnecessary Lodash methods. As a result, the bundle became much larger than it could be.

[2020-06-10 07:09] hulk4fe opened #238 "tips"
its base on babel-import-plugin
using ecma script 2015 modules tree-shaking
cjs not support tree-shaking

[2020-06-11 04:30] hoangfuongduy opened #239 "The 'react-router-dom' method `useLocation` is not a known module."
I'm trying to use the useLocation hook of react-router-dom but what I received was
` The 'react-router-dom' method `useLocation` is not a known module.
Please report bugs to https://github.com/lodash/babel-plugin-lodash/issues.`
Please help if anyone knows why this happen.
Thanks a lot

[2020-06-12 07:05] #238 closed, assigned to nobody

[2020-09-08 19:34] drudv commented on #235
Have the same issue: `lodash` is being replaced with `undefined`. If I disable `babel-plugin-lodash`, the reference is preserved.

[2020-10-02 20:33] evenfrost commented on #236
Any update?

[2020-10-26 06:37] evenfrost commented on #236
@jdalton is it still working?

[2021-01-19 22:11] voronianski opened #243 "lodash.min.js is not removed from the bundle"
I'm using Next.js with latest lodash v4.17.20 and latest babel-plugin-lodash v3.3.4 however for some reason I always get `lodash.min.js` inside the bundle.

As for the imports it's used as `import { funcName } from 'lodash/fp'` everywhere across the code.

![image](https://user-images.githubusercontent.com/974035/105098938-1f8a5900-5aab-11eb-9e2b-e7e3b524e748.png)

This happens in an old legacy ap

[2021-01-28 17:19] JackieCheung commented on #235
same issue, is there a solution now?

[2021-03-11 08:46] grzegorzjudas commented on #243
Same here. Was sure I'm missing something, but now I'm having doubts it's the setup. Planned on making a clean setup next to see what's going to happen, like you, actually.

[2021-03-11 09:53] grzegorzjudas commented on #236
It's still happening. I've prepared a repro repo: [grzegorzjudas/babel-lodash-repro](https://github.com/grzegorzjudas/babel-lodash-repro).

[2021-03-22 03:33] fwh1990 opened #244 "Do you have plan to support vitejs?"
I know lodash provides a more cool package `lodash-es`, but for some people, they just want to use package `lodash` which sounds better.

So, It will be very helpful if `vite-plugin-lodash` exists.

[2021-05-18 12:32] julien-f opened #246 "Import with extensions"
Necessary for native ESM support.

### Source

[code]

### Actual

[code]

Node error:

[code]

### Expected

[code]

[2021-07-05 11:30] 0xdevalias commented on #243
Potentially related:

- https://github.com/lodash/babel-plugin-lodash/issues/236

[2021-07-05 11:31] 0xdevalias commented on #236
Potentially related:

- https://github.com/lodash/babel-plugin-lodash/issues/243

[2022-01-11 02:01] chenjie-cnooc opened #248 "lodash and pnpm"
why does not the babel-plugin-lodash work in pnpm？

[2022-04-19 12:46] feketegy opened #251 "Is this plugin still relevant?"
What the title says.

Am I still able to use `import _ from 'lodash'` with this plugin that will extract only those functions that are actually used, in the final build?

[2022-05-14 14:59] CHENJIAMIAN opened #253 "Error: "Cannot read property 'has' of undefined" after glob update v7.2.0 to v7.2.2"
[code]

### That is Why
After dependency `glob` update v7.2.0 to v7.2.2, [the common.js of glob added 'options.allowWindowsEscape = true'](https://github.com/isaacs/node-glob/compare/v7.2.0...v7.2.2),

[code]

[2022-06-10 07:05] Pearce-Ropion commented on #226
If anyone needs an explicit example for how to do this:
[code]

Notice the `type` keyword. That is the distinction that the plugin uses in determining what is a lodash function.

[2022-06-16 12:57] evenfrost commented on #251
[I don't think so.](https://github.com/lodash/babel-plugin-lodash/issues/236)

[2022-07-13 19:08] Pyrolistical commented on #244
Need `vite-plugin-lodash` or `lodash-es/fp` support

[2022-10-18 09:52] qiulang commented on #251
Hi I use https://github.com/webpack-contrib/webpack-bundle-analyzer to find it is still relevant.

Without it, 71.48 kb
<img width="661" alt="without babel-plugin-lodash" src="https://user-images.githubusercontent.com/516243/196397224-1fb95321-92c6-488a-859b-1921646be908.png">

With it, 36 kb
<img width="434" alt="with babel-plugin-lodash" src="https://user-images.githubusercontent.com/516243/1963